{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>User Admin</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static "peer_review/jquery.min.js" %}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="{% static "peer_review/css/style.css" %}">
    <link rel="stylesheet" href="{% static "peer_review/bootstrap-sortable.css" %}">
    <link rel="icon" type="image/png" href="{% static "peer_review/favicon.png" %}">

    <script src="{% static "peer_review/js/bootstrap.js" %}"></script>
    <script src="{% static "peer_review/bootstrap-sortable.js" %}"></script>
    <script src="{% static "peer_review/search.js" %}"></script>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#users tr').each(function() {
                $(this).find('input[type="text"]').each(function() {
                    $(this).attr('size', $(this).val().length);
                });
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="." class="navbar-brand"><img src="{% static "peer_review/header.png" %}" id="header" /></a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/peer/userAdmin/">User Admin</a></li>
                    <li><a href="#">Round Admin</a></li>
                    <li><a href="#">Team Admin</a></li>
                    <li><a href="#">Question Admin</a></li>
                    <li><a href="#">Questionnaire Admin</a></li>
                    <li><a href="#">File Manager</a></li>
                    <li><a href="#">Server Manager</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <h4 class="panel-title">
                        <a>
                            Error <b class="caret"></b>
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {{ message }}
                        {{ row }}
                        <div class='table-responsive'>
                            <table class='table sortable' id='users'>
                                <thead>
                                    <tr>
                                        <th>Student Number</th>
                                        <th>Title</th>
                                        <th>Initials</th>
                                        <th>First Name</th>
                                        <th>Surname</th>
                                        <th>Cell</th>
                                        <th>Email</th>
                                </thead>
                                <tr>
                                    <td>
                                        {{ row.5.1 }}
                                    </td>
                                    <td>
                                        {{ row.7.1 }}
                                    </td>
                                    <td>
                                        {{ row.4.1 }}
                                    </td>
                                    <td>
                                        {{ row.2.1 }}
                                    </td>
                                    <td>
                                        {{ row.0.1 }}
                                    </td>
                                    <td>
                                        {{ row.6.1 }}
                                    </td>
                                </tr>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">&copy; Pinocchio Team</p>
            <a class="navbar-btn btn-danger btn pull-right">Log Out</a>
        </div>
    </div>  
</body>
</html>