{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>User Admin</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static "peer_review/jquery.min.js" %}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="{% static "peer_review/css/style.css" %}">
    <link rel="stylesheet" href="{% static "peer_review/bootstrap-sortable.css" %}">
    <link rel="icon" type="image/png" href="{% static "peer_review/favicon.png" %}">

    <script src="{% static "peer_review/js/bootstrap.js" %}"></script>
    <script src="{% static "peer_review/bootstrap-sortable.js" %}"></script>
    <script src="{% static "peer_review/search.js" %}"></script>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#users tr').each(function() {
                $(this).find('input[type="text"]').each(function() {
                    $(this).attr('size', $(this).val().length);
                });
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="." class="navbar-brand"><img src="{% static "peer_review/header.png" %}" id="header" /></a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/peer/userAdmin/">User Admin</a></li>
                    <li><a href="#">Round Admin</a></li>
                    <li><a href="#">Team Admin</a></li>
                    <li><a href="#">Question Admin</a></li>
                    <li><a href="#">Questionnaire Admin</a></li>
                    <li><a href="#">File Manager</a></li>
                    <li><a href="#">Server Manager</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <h4 class="panel-title">
                        <a>
                            Error <b class="caret"></b>
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <h3>
                            {{ message }}<br>
                            <b>Error: </b>{{ error }}
                        </h3>
                        {% if row %}
                            <h4>
                                This is how we interpreted the CSV file at this row:
                            </h4>
                            <div class='table-responsive'>
                                <table class='table sortable' id='users'>
                                    <thead>
                                        <tr>
                                            <th>title</th>
                                            <th>initials</th>
                                            <th>name</th>
                                            <th>surname</th>
                                            <th>email</th>
                                            <th>cell</th>
                                            <th>user_id</th>
                                            <th>status</th>
                                            <th>password</th>
                                    </thead>
                                    <tr>
                                        <td>
                                            {{ row.0}}
                                        </td>
                                        <td>
                                            {{ row.1 }}
                                        </td>
                                        <td>
                                            {{ row.2 }}
                                        </td>
                                        <td>
                                            {{ row.3 }}
                                        </td>
                                        <td>
                                            {{ row.4 }}
                                        </td>
                                        <td>
                                            {{ row.5 }}
                                        </td>
                                        <td>
                                            {{ row.6 }}
                                        </td>
                                        <td>
                                            {{ row.7 }}
                                        </td>
                                        <td>
                                            {{ row.8 }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        {% endif %}
                        <div>
                            <h4>Please take note of the format we use to interpret a CSV:</h4>
                            <div>
                                "title","initials","name","surname","email","cell","user_id","status","password"<br>
                                "Mr","D","Dillon","Heins","dillonheins@gmail.com","0798016454","14035547","A","123456"<br>
                                "Mr","M","Matthias","Harvey","m@gmail.com","0751457814","14578841","A","password125"<br>
                                "Mr","M","Matthew","Botha","mb@gmail.com","0781245487","15671148","S","178415"<br>
                            </div>
                            <div>
                                <br>
                                <a href="/peer/userAdmin/">Home</a>
                                <a href="#">Template</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">&copy; Pinocchio Team</p>
            <a class="navbar-btn btn-danger btn pull-right">Log Out</a>
        </div>
    </div>  
</body>
</html>