<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Maintain Rounds</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/peer_review/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/static/peer_review/css/style.css">
    <link rel="stylesheet" href="/static/peer_review/bootstrap-sortable.css">
    <link rel="icon" type="image/png" href="/static/peer_review/favicon.png">

    <script src="/static/peer_review/js/bootstrap.js"></script>
    <script src="/static/peer_review/bootstrap-sortable.js"></script>
    <script src="/static/peer_review/search.js"></script>
    <script src="/static/peer_review/validation.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#users tr').each(function() {
                $(this).find('input[type="text"]').each(function() {
                    $(this).attr('size', $(this).val().length);
                });
            });
        });
    </script>
<!--AJAX write to db

<script type="text/javascript">
 function create_post() {
                console.log("create post is working!") // sanity check
                $.ajax({
                    url : "/peer/createQuestion/", // the endpoint
                    type : "GET", // http method
                    data : {
                        question : $('#question').val(),
                        questionType : $('#type').val(),
                        grouping : $('#grouping').val(),
                        choices : getChoices()
                        }, // data sent with the post request
            
                    // handle a successful response
                    success : function(json) {
                        //$('#post-text').val(''); // remove the value from the input
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                    },
            
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        alert("Error!");
                        // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        //     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            };

</script>
end-->
<!--Function to add row-->
    <script>
    function deleteRow(row) {
        var table = document.getElementById('round');
     //   var rowCount = table.rows.length;   
           // var row = table.insertRow(1);
             

            if(table.rows.length >4)
                {table.deleteRow(row.parentNode.parentNode.rowIndex);}
            else
                {alert("Last row!" );}
/*var p=row.parentNode.parentNode;
         p.parentNode.removeChild(p);*/
     //    document.getElementById("myTable").deleteRow(0);
          // alert(row);
           

           // var colCount = table.rows[0].cells.length;
            //for(var i=0; i<7; i++) {
               // table.row.deleteRow();
             //   newcell.innerHTML = table.rows[2].cells[i].innerHTML;
           // }
    }
    </script>
<!--end-->
<!--Function to add row-->
    <script>
    function addRow(tableID) {
        var table = document.getElementById(tableID);
        var rowCount = table.rows.length;   
            var row = table.insertRow(1);
            var colCount = table.rows[0].cells.length;
            for(var i=0; i<colCount; i++) {
                var newcell = row.insertCell(i);
                newcell.innerHTML = table.rows[2].cells[i].innerHTML;
            }
    }
    </script>
<!--end-->
</head>
    <body>


        <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="." class="navbar-brand"><img src="/static/peer_review/header.png" id="header"></a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">User Admin</a></li>
                    <li><a href="#">Round Admin</a></li>
                    <li class="active"><a href="maintainRound.html">Maintain Round</a></li>
                    <li><a href="#">Team Admin</a></li> 

                    <!-- class="active"><a href="userAdmin.html"
                    <li class="active"><a href="userAdmin.html">User Admin</a></li>-->
                    <li><a href="#">Question Admin</a></li>
                    <li><a href="#">Questionnaire Admin</a></li>
                    <li><a href="#">File Manager</a></li>
                    <li><a href="#">Server Manager</a></li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Maintain Rounds</b></h4>
                </div>	

                <div class="panel-body">

                    <input type="text" class="form-control" id="search" placeholder="Search" onkeyup="showResult(this.value)">
                    <div class='table-responsive'>
                        <table class='table sortable' id='round'>
                            <thead>
                                <tr>
                                    <th>Round Description</th>
                                    <th>Questionnaire Description</th>
                                    <th>Starting Date</th>
                                    <th>Ending Date</th>
                                    <th>Maintain</th>
                                    <th>Accept Edit</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <!--<td contenteditable=true>-->
                                    <td ><input type="text" value="This is a round" style="border:none"></td>
                                    <td>
                                        <select>
                                            <option value="First">First</option>
                                            <option value="Second">Second</option>
                                            <option value="Third">Third</option>
                                        </select>
                                          <input type="button" value="+" class="btn btn-info btn-xs plus" field="" onClick="location.href='http://127.0.0.1:8080/peer/questionAdmin/'"  /> 
                                    </td>

        <!--Starting date-->
                                    <td>
                                        <form action="action_page.php">
                                          <input type="datetime-local" name="startingDate" class = "icon-bar" style="width: 175px;">
                                        </form>

                                    </td>
        <!--Ending date-->
                                    <td>
                                        <form action="action_page.php">
                                          <input type="datetime-local" name="endingDate" style="width: 175px;">
                                        </form>
                                    </td>
                            
                                    <td><button type='button' class='btn btn-default btn-xs' id='maintain' onclick='#'><a href="teamBuilder.html"><span class="glyphicon glyphicon-wrench"></span></button></button></a></button></td>
                                    <td>
                                        <button type='button' class='btn btn-success btn-xs' id='accept' onclick='#'>&#10004;</button>
                                    </td>
            <!--delete row -->
                                    <td>
                                        <button type='button' class='btn btn-warning btn-xs' id='delete' onclick="deleteRow(this)">&#10008;
                                        </button>
                                    </td>
                                </tr>
                                <tr>

            <!--add row-->
                                </tr>

                                    <td><input type="button" value="+" class="btn btn-info btn-xs plus" field="" onclick="addRow('round')" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">&copy; Dillon Heins</p>
                <a class="navbar-btn btn-danger btn pull-right">Log Out</a>
            </div>
        </div>


    </body>
</html>