<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pinocchio</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load staticfiles %}
        <script type="text/javascript" src="{% static "peer_review/js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "peer_review/js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "peer_review/css/bootstrap.min.css" %}">
        <script type="text/javascript" src="{% static "peer_review/js/bootstrap-table.min.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "peer_review/css/bootstrap-table.min.css" %}">
        <link rel="stylesheet" href="{% static "peer_review/css/style.css" %}" />
        <script type="text/javascript" src="{% static "peer_review/js/stacking.js" %}" ></script>
        <script type="text/javascript">
            function selected()
            {
                var value = document.getElementById("type").value;
                document.getElementById("typeDisplay").innerHTML = document.getElementById(value).innerHTML;
                initialiseStacking();
            }
        </script>
    </head>
    
    <body onload="initialiseStacking();">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">Pinocchio</a>
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="userAdmin.html">User Admin</a>
                        </li>
                        <li>
                            <a href="maintainRound.html">Maintain Rounds</a>
                        </li>
                        <li>
                            <a href="teamBuilder.html">Team Builder</a>
                        </li>
                        <li>
                            <a href="maintainTeam.html">Maintain Teams</a>
                        </li>
                        <li class="active">
                            <a href="questionAdmin.html">Create Question</a>
                        </li>
                        <li>
                            <a href="questionnaireAdmin.html">Questionnaire Admin</a>
                        </li>
                        <li>
                            <a href="result.html">Results</a>
                        </li>
                        <li>
                            <a href="fileManager.html">File Manager</a>
                        </li>
                        <li>
                            <a href="serverManager.html">Server Manager</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">&copy; Dillon Heins</p>
                <a class="navbar-btn btn-danger btn pull-right">Log Out</a>
            </div>
        </div>
        <div class="container" id="content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <b>Create Question</b>
                    </h4>
                </div>
                <div class="panel-body">
                    <form role="form" action="/peer/createQuestion/" method="get">
                        <div class="form-group">
                            <label for="question">Question</label>
                            <textarea class="form-control" cols="40" rows="3" style="resize:none;width:auto" id="question" name="question"></textarea>
                            <br />
                            <label>Type</label>
                            <select id="type" class="form-control" style="width:auto" onchange="selected()">
                                <option value="label">Label</option>
                                <option value="choice">Choice</option>
                                <option value="rate">Rate</option>
                                <option value="rank">Rank</option>
                                <option value="freeform">Freeform</option>
                            </select>
                            <br />
                            <div id="typeDisplay">
                                <div class="row">
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-1">
                                        <button class="btn btn-primary" id="add">+ Add</button>
                                    </div>
                                    <div class="col-xs-7">
                                        <b>Grouping</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <table id="table" class="table"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <select class="form-control" id="grouping">
                                            <option value="rest">Rest</option>
                                            <option value="all">All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <br />
                                <button type="submit">Save</button>
                            </div>
                        </div>
                        <form>
                </div>
            </div>
        </div>
        <div id="hidden" class="hidden">
            <div id="label"></div>
            <div id="choice">
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-1">
                        <button class="btn btn-primary" id="btn">+ Add</button>
                    </div>
                    <div class="col-xs-7">
                        <b>Grouping</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table id="table" class="table table-striped table-condensed table-hover btable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; ">
                                                <div class="th-inner ">Choices</div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; width: 20px; ">
                                                <div class="th-inner "></div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; width: 20px; ">
                                                <div class="th-inner "></div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-index="0">
                                            <td style="text-align: center; ">Chicken</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="1">
                                            <td style="text-align: center; ">Beef</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="2">
                                            <td style="text-align: center; ">Fish</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="3">
                                            <td style="text-align: center; ">Other</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <select class="form-control" id="grouping">
                            <option value="none">None</option>
                            <option value="rest">Rest</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="rate">
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-1">
                        <button class="btn btn-primary" id="btn">+ Add</button>
                    </div>
                    <div class="col-xs-7">
                        <b>Grouping</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table id="table" class="table table-striped table-condensed table-hover btable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; ">
                                                <div class="th-inner ">Scale</div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; ">
                                                <div class="th-inner ">Optional</div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; ">
                                                <div class="th-inner ">Choice</div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; width: 20px; ">
                                                <div class="th-inner "></div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; width: 20px; ">
                                                <div class="th-inner "></div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-index="0">
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">Chicken</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="1">
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">Beef</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="2">
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">Fish</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="3">
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">Other</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <select class="form-control" id="grouping">
                            <option value="rest">Rest</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="rank">
                <table>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for='first'>First Word</label>
                        </div>
                        <div class="col-xs-4">
                            <label for='second'>Second Word</label>
                        </div>
                        <div class="col-xs-4">
                            <label for='grouping'>Grouping</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input class='form-control' type='text' id='first' />
                        </div>
                        <div class="col-xs-4">
                            <input class='form-control' type='text' id='second' />
                        </div>
                        <div class="col-xs-4">
                            <select class='form-control' id='grouping'>
                                <option value='rest'>Rest</option>
                                <option value='all'>All</option>
                            </select>
                        </div>
                    </div>
                </table>
            </div>
            <div id="freeform">
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-1">
                        <button class="btn btn-primary" id="btn">+ Add</button>
                    </div>
                    <div class="col-xs-7">
                        <b>Grouping</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table id="table" class="table table-striped table-condensed table-hover btable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; ">
                                                <div class="th-inner ">Type</div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; ">
                                                <div class="th-inner ">Choice</div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; width: 20px; ">
                                                <div class="th-inner "></div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                            <th style="text-align: center; width: 20px; ">
                                                <div class="th-inner "></div>
                                                <div class="fht-cell"></div>
                                                <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                    <div style="height: 34px;"></div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-index="0">
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">Chicken</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="1">
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">Beef</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="2">
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">Fish</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr data-index="3">
                                            <td style="text-align: center; width: 10px;">
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">Other</td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move up" href="javascript:void(0)" title="move up"><span
                class="glyphicon glyphicon-arrow-up"></span></a>
                                            </td>
                                            <td style="text-align: center; width: 20px; ">
                                                <a class="move down" href="javascript:void(0)" title="move down"><span
                class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <select class="form-control" id="grouping">
                            <option value="none">None</option>
                            <option value="rest">Rest</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </body>

</html>