{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>User Admin</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static "peer_review/jquery.min.js" %}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="{% static "peer_review/css/style.css" %}">
    <link rel="stylesheet" href="{% static "peer_review/bootstrap-sortable.css" %}">
    <link rel="icon" type="image/png" href="{% static "peer_review/favicon.png" %}">

    <script src="{% static "peer_review/js/bootstrap.js" %}"></script>
    <script src="{% static "peer_review/bootstrap-sortable.js" %}"></script>
    <script src="{% static "peer_review/search.js" %}"></script>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script src="{% static "peer_review/submit.js" %}"></script>
    <script type="text/javascript">
        $("#userForm").submit(function(){

        })
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="." class="navbar-brand"><img src="{% static "peer_review/header.png" %}" id="header" /></a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="userAdmin.html">User Admin</a></li>
                    <li><a href="#">Round Admin</a></li>
                    <li><a href="#">Team Admin</a></li>
                    <li><a href="#">Question Admin</a></li>
                    <li><a href="#">Questionnaire Admin</a></li>
                    <li><a href="#">File Manager</a></li>
                    <li><a href="#">Server Manager</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            User Registration <b class="caret"></b>
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% block content %}
                        <form action="/peer/userAdmin/submitForm/" method="post" class="form-horizontal user-form" onSubmit="return false;" id="userForm" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <!-- Title Input -->
                                <label for="title" class="col-sm-2 control-label">Title:</label>
                                <div class="col-sm-3">
                                    {{ userForm.title }}
                                </div>

                                <!-- Initials Input -->
                                <label for="initials" class="col-sm-2 control-label">Initials:</label>
                                <div class="col-sm-3">
                                    {{ userForm.initials }}
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Firsts Name Input -->
                                <label for="firstName" class="col-sm-2 control-label">First Name:</label>
                                <div class="col-sm-3">
                                    {{ userForm.name }}
                                </div>
                                
                                <!-- Surname Input -->
                                <label for="surname" class="col-sm-2 control-label">Surname:</label>
                                <div class="col-sm-3">
                                    {{ userForm.surname }}
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Email Input -->
                                <label for="email" class="col-sm-2 control-label">Email:</label>
                                <div class="col-sm-3">
                                    {{ userForm.email }}
                                </div>

                                <!--Cell Number Input -->
                                <label for="cellNumber" class="col-sm-2 control-label">Cell Number:</label>
                                <div class="col-sm-3">
                                    {{ userForm.cell }}
                                </div>                                                              
                            </div>

                            <div class="form-group">
                                <!-- Student Number Input -->
                                <label for="studentNumber" class="col-sm-2 control-label">Student Number:</label>
                                <div class="col-sm-3">
                                    {{ userForm.userId }}
                                </div>

                                <!-- Status Input -->
                                <label for="status" class="col-sm-2 control-label">Status:</label>
                                <div class="col-sm-3">
                                    {{ userForm.status }}
                                </div>                                
                            </div>

                            <div class="form-group">
                                <!-- Password Input -->
                                <label for="password" class="col-sm-2 control-label">Password:</label>
                                <div class="col-sm-3">
                                    {{ userForm.password }}
                                </div>

                                <label for="passwordConfirm" class="col-sm-2 control-label">Confirm Password:</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" id="passwordConfirm">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Submit Button -->
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="save btn btn-info" onclick="validateUserForm()" id="submitUser">Submit</button>
                                </div>
                            </div>
                        </form>
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            User Registration Via CSV File <b class="caret"></b>
                        </a>
                    </h4>
                </div>

                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form role="form" method="post" action="#">
                            <div class="form-group">
                                <label for="inputfile">Upload CSV File:</label>
                                <input type="file" id="inputfile">
                                <p class="help-block">Select a CSV file to register users</p>
                            </div>
                            <button type="submit" class="btn btn-info" id="submitCSV" onclick="csvSubmit()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Maintain Users <b class="caret"></b>
                        </a>
                    </h4>
                </div>  
                
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                    
                        <input type="text" class="form-control" id="search" placeholder="Search" onkeyup="showResult(this.value)">

                        <div class='table-responsive'>
                            <table class='table sortable' id='users'>
                                <thead>
                                    <tr>
                                        <th>Student Number</th>
                                        <th>Title</th>
                                        <th>Initials</th>
                                        <th>First Name</th>
                                        <th>Surname</th>
                                        <th data-defaultsort='disabled'>Cell</th>
                                        <th>Email</th>
                                        <th>Accept Edit</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr id="{{ user.pk }}">
                                            <td contenteditable='true'>{{ user.userId }}</td>
                                            <td contenteditable='true'>{{ user.userDetail.title }}</td>
                                            <td contenteditable='true'>{{ user.userDetail.initials }}</td>
                                            <td contenteditable='true'>{{ user.userDetail.name }}</td>
                                            <td contenteditable='true'>{{ user.userDetail.surname }}</td>
                                            <td contenteditable='true'>{{ user.userDetail.cell }}</td>
                                            <td contenteditable='true'>{{ user.userDetail.email }}</td>
                                            <td><button type='submit' name="edit" class='btn btn-success btn-xs' id='edit' value="{{ user.userId }}">E</button></td>
                                            <td>
                                                <form action="/peer/userAdmin/delete/{{ user.pk }}" method="post">
                                                    {% csrf_token %}
                                                    <button type='submit' name="remove" class='btn btn-warning btn-xs' id='remove'>R</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">&copy; Pinocchio Team</p>
            <a class="navbar-btn btn-danger btn pull-right">Log Out</a>
        </div>
    </div>  
</body>
</html>