{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Active Rounds</title>
    <!--Edit navbar active-->
    <script>
        title = "activeRounds";
    </script>
    <!--end-->
{% endblock extrahead %}
{% block context %}
{% load custom_tags %}
{% spaceless %}
    <div class="container">
        <div class="panel-group">
            {# Check For Empty Rounds #}
            {% counter_reset %}
            {% for round in rounds %}
                {% counter_inc %}
            {% endfor %}
            {% counter_get as roundCount %}
            {% if roundCount == 0 %}
            <div>
            <h2>There are currently no active rounds.</h2>
            <br><img src="{% static "peer_review/pinocchioError.png" %}" id="errorImage" style="width: 36%; height: 72%; "/>
            </div>
            {% endif %}
            {% counter_reset %}
            {# Count the number of current rounds #}
            {% for tmcur in teams %}
                {% if tmcur.teamName != "emptyTeam" and  tmcur.is_in_past != True and tmcur.is_in_future != True %}
                    {% counter_inc %}
                {% endif %}
            {% endfor %}
            {% counter_get as currentRounds %}
            {% counter_reset %}
            {# Count the number of expired rounds #}
            {% for tmexp in teams %}
                {% if tmexp.teamName != "emptyTeam" and tmexp.is_in_past %}
                    {% counter_inc %}
                {% endif %}
            {% endfor %}
            {% counter_get as pastRounds %}
            {% counter_reset %}
            {# Count the number of future rounds #}
            {% for tmfut in teams %}
                {% if tmfut.teamName != "emptyTeam" and tmfut.is_in_future %}
                    {% counter_inc %}
                {% endif %}
            {% endfor %}
            {% counter_get as futureRounds %}
            {% counter_reset %}

            {# Display Current Rounds #}
            {% if currentRounds > 0 %}
                <fieldset><legend>Current Rounds</legend>
            {% endif %}
            {% for team in teams %}
                {% if team.teamName != "emptyTeam" and team.is_in_past != True and team.is_in_future != True %}
                    {% counter_inc %}
                    {# Inclusion custom tag to render using rounditem.html #}
                    {% round_load team %}
                {% endif %}
            {% endfor %}
             {% counter_get as teamCount %}
            {% if teamCount == 0 %}
            <div>
            <h2>{{ user.name }}, you currently have no team.</h2>
            <br><img src="{% static "peer_review/pinocchioError.png" %}" id="errorImage" style="width: 36%; height: 72%; "/>
            </div>
            {% endif %}
            {% counter_reset %}
            {# Close Current Rounds fieldset #}
            {% if currentRounds > 0 %}
                </fieldset>
            {% endif %}
            {# Display Past Rounds #}
            {% if pastRounds > 0 %}
                <br><br><fieldset><legend>Past Rounds</legend>
                {%for teamPast in teams %}
                    {% if teamPast.teamName != "emptyTeam" and teamPast.is_in_past %}
                        {% round_load teamPast %}
                    {% endif %}
                {% endfor %}
                </fieldset>
            {% endif %}
            {# Display Future Rounds #}
            {% if futureRounds > 0 %}
                <br><br><fieldset><legend>Future Rounds</legend>
                {% for teamFuture in teams %}
                    {% if teamFuture.teamName != "emptyTeam" and teamFuture.is_in_future %}
                        {% round_load teamFuture %}
                    {% endif %}
                {% endfor %}
                </fieldset>
            {% endif %}
    </div></div> 
{% endspaceless %}
{% endblock context %}