{% extends "peer_review/baseUser.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Student Home Page</title>
    <!--Edit navbar active-->
    <script>
        title = "activeRounds";
    </script>
    <!--end-->
{% endblock extrahead %}
{% block context %}
    <div class="container">
        <div class="panel-group">
            {% for team in teams %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title" style="font-size: 14px">
                            <b>{{ team.roundDetail.name }}: {{ team.teamName }}</b>
                        </h5>
                    </div>
                    <div id="collapse{{ team.pk }}" class="">
                        <div class="panel-body form-horizontal">
                            <div class="form-group">
                                <label for="team{{ team.pk }}" class="col-sm-2 control-label">Team:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="team{{ team.pk }}" class="form-control"
                                            readonly="readonly" value="{{ team.teamName }}"/>
                                </div>

                                <label for="questionnaire{{ team.pk }}" class="col-sm-2 control-label">Questionnaire:</label>
                                <div class="col-sm-3">
                                    <input type="text" id="questionnaire{{ team.pk }}" class="form-control"
                                            readonly="readonly"
                                            value="{{ team.roundDetail.questionnaire.label }}"/>
                                </div>

                                <form role="form" id="editQuestionnaire"
                                        action="/questionnaire/{{ team.roundDetail.id }}" method="POST">
                                    {% csrf_token %}
                                    <input name="teamPk" type="hidden" value="{{ team.pk }}"/>
                                    <div class="col-sm-2">
                                        {% ifequal team.status 'NA' %}
                                            <input type="submit" class="form-control btn-warning"
                                                    value="Not Attempted"/>
                                        {% endifequal %}

                                        {% ifequal team.status 'IP' %}
                                            <input type="submit" class="form-control btn-danger"
                                                    value="In Progress"/>
                                        {% endifequal %}

                                        {% ifequal team.status 'C' %}
                                            <input type="submit" class="form-control btn-success disabled"
                                                    value="Completed" disabled/>
                                        {% endifequal %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock context %}