{% load staticfiles %}
{% load custom_tags %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#"><img width="50" src="{% static "peer_review/header.png" %}" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="userAdmin" class="nav-item {% active request 'activeRounds' %}">
                <a class="nav-link" href="{% url 'activeRounds' %}">Active Rounds</a>
            </li>
            <li id="maintainRound" class="nav-item {% active request 'teamMembers' %}">
                <a class="nav-link" href="{% url 'teamMembers' %}">Team Members</a>
            </li>
            <li id="maintainTeam" class="nav-item {% active request 'accountDetails' %}">
                <a class="nav-link" href="{% url 'accountDetails' %}">Account Details</a>
            </li>
        </ul>
    </div>
</nav>