{% load staticfiles %}
{% load custom_tags %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#"><img width="50" src="{% static "peer_review/header.png" %}" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li id="userAdmin" class="nav-item {% active request 'userAdmin' %}">
                    <a class="nav-link" href="{% url 'userAdmin' %}">User Admin</a>
                </li>
                <li id="maintainRound" class="nav-item {% active request 'maintainRound' %}">
                    <a class="nav-link" href="{% url 'maintainRound' %}">Rounds</a>
                </li>
                <li id="maintainTeam" class="nav-item {% active request 'maintainTeam' %}">
                    <a class="nav-link" href="{% url 'maintainTeam' %}">Team Admin</a>
                </li>
                <li id="questionAdmin" class="nav-item {% active request 'questionAdmin' %}">
                    <a class="nav-link" href="{% url 'questionAdmin' %}">Question Admin</a>
                </li>
                <li id="questionnaireAdmin" class="nav-item {% active request 'questionnaireAdmin' %}">
                    <a class="nav-link" href="{% url 'questionnaireAdmin' %}">Questionnaire Admin</a>
                </li>
            </ul>
        </div>
    </nav>