{% extends "peer_review/base.html" %}
{% load staticfiles %}
{% block extrabasehead %}
{% csrf_token %}
    <!--Edit navbar active-->
    <script>
        var title = "changePassword";
    </script>
    <!--end-->
{% endblock %}
{% block context %}
    <div class="container col-md-offset-3 col-md-6">
        <div class="panel-group">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Changing Password for {{ name }} {{ surname }}</b></h4>
                </div>
                <div class="panel-body">

                    <form class="form" role="form" method="post" action="/login/auth/">
                        {% csrf_token %}
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="{{loginForm.userName.id_for_label}}" class="sr-only">User Name</label>
                        <input name="{{loginForm.userName.html_name}}" type="text" id="{{loginForm.userName.id_for_label}}" class="form-control" placeholder="User Name" required
                               autofocus>
                        <label for="{{loginForm.password.id_for_label}}" class="sr-only">Password</label>
                        <input name="{{loginForm.password.html_name}}" type="password" id="{{loginForm.password.id_for_label}}" class="form-control" placeholder="Password" required>

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
                <div id="diverrors">
                {% if messages %}
                    {% for message in messages %}
                        <h3 style="color: red; text-align: center;">{{ message }}</h3>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block logout %}
{% endblock %}