{% extends "peer_review/base.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title>User Admin</title>

    <script src="{% static "peer_review/search.js" %}"></script>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#users').find('tr').each(function () {
                $(this).find('input[type="text"]').each(function () {
                    $(this).attr('size', $(this).val().length);
                });
            });
        });
    </script>
{% endblock %}

{% block context %}

    <div class="container">
        <div id="accordion">
            <div class="card my-3">
                <div class="card-header" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    Error <b class="caret"></b>
                </div>

                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <h3>
                            {{ message }}<br>
                            <b>Error: </b>{{ error }}
                        </h3>
                        {% if row %}
                            <h4>
                                This is how we interpreted the CSV file at this row:
                            </h4>
                            <div class='table-responsive'>
                                <table class='table sortable' id='users'>
                                    <thead>
                                    <tr>
                                        <th>user_id</th>
                                        <th>round_name</th>
                                        <th>team_name</th>
                                    </thead>
                                    <tr>
                                        <td>
                                            {{ row.0 }}
                                        </td>
                                        <td>
                                            {{ row.1 }}
                                        </td>
                                        <td>
                                            {{ row.2 }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        {% endif %}
                        <div>
                            <h4>Please take note of the format we use to interpret a CSV:</h4>

                            <div>
                                "user_id","round_name","team_name"<br>
                                "u14035548","Test Round 1","Red"<br>
                                "u14578841","Test Round 1","Red"<br>
                                "u14671148","Test Round 1","Blue"<br>
                                "u15123123","Test Round 1","Yellow"<br>
                                "u14578841","Test Round 1","Green"<br>
                            </div>
                            <div>
                                <br>
                                <a href="{% url 'userAdmin' %}">Home</a>
                                <a href="#">Template</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar bg-dark navbar-dark fixed-bottom justify-content-between">
        <div class="container">
            <span class="navbar-text">&copy; Pinocchio Team</span>
            {% if user.is_authenticated %}
            <a class="btn-danger btn" href="{% url 'login' %}">Log Out</a>
            {% endif %}
        </div>
    </nav>

{% endblock %}