{% extends "peer_review/base.html" %}
{% load staticfiles %}
{% block extrabasehead %}
{% csrf_token %}
    <title>Forgot Password</title>

    <!-- CSS for login form -->
    <style>
        .form-reset {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-reset .form-reset-heading{
            margin-bottom: 10px;
        }

        .form-reset .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-reset .form-control:focus {
            z-index: 2;
        }

{#        .form-reset#}
{##}
{#        ##}
{#        {{ loginForm.email.id_for_label }}#}
{#        input[type="email"] {#}
{#            margin-bottom: -1px;#}
{#            border-bottom-right-radius: 0;#}
{#            border-bottom-left-radius: 0;#}
{#        }#}

    </style>
{% endblock %}
{% block context %}
    <div class="container col-md-offset-3 col-md-6">

        {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}">{{ message|safe }}</div>
            {% endfor %}
        {% endif %}

        <div class="card my-3">
            <div class="card-header">
                Reset Password
            </div>
            <div class="card-body">

                <form class="form-reset" role="form" method="post" action="{% url 'resetPass' %}">
                    {% csrf_token %}
                    <h2 class="form-reset-heading">Please enter your username</h2>
                    <label for="{{resetForm.user_id.id_for_label}}" class="sr-only">Username</label>
                    <input name="{{resetForm.user_id.html_name}}" type="text" id="{{resetForm.user_id.id_for_label}}" class="form-control" placeholder="username" required
                           autofocus>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block logout %}
{% endblock %}