{% extends "peer_review/base.html" %}
{% load staticfiles %}
{% block extrabasehead %}
{% csrf_token %}
    <!--Edit navbar active-->
    <script>
        var title = "login";
    </script>
    <!--end-->

    <!-- CSS for login form -->
    <style>
        .form-reset {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-reset .form-reset-heading,
        .form-reset .checkbox {
            margin-bottom: 10px;
        }

        .form-reset .checkbox {
            font-weight: normal;
        }

        .form-reset .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-reset .form-control:focus {
            z-index: 2;
        }

        .form-reset

        #
        {{ loginForm.email.id_for_label }}
        input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

    </style>
{% endblock %}
{% block context %}
    <div class="container col-md-offset-3 col-md-6">
        <div class="panel-group">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Reset Password</b></h4>
                </div>
                <div class="panel-body">

                    <form class="form-reset" role="form" method="post" action="/login/resetPass/">
                        {% csrf_token %}
                        <h2 class="form-reset-heading">Please enter your username</h2>
                        <label for="{{resetForm.username.id_for_label}}" class="sr-only">Username</label>
                        <input name="{{resetForm.username.html_name}}" type="username" id="{{resetForm.username.id_for_label}}" class="form-control" placeholder="username" required
                               autofocus>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                </div>
                <div id="diverrors">
                {% if messages %}
                    {% for message in messages %}
                        <h3 style="color: red; text-align: center;">{{ message }}</h3>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block logout %}
{% endblock %}