{% extends "peer_review/base.html" %}
{% load staticfiles %}
{% block extrabasehead %}
{% csrf_token %}
    <title>Login</title>

    <!-- CSS for login form -->
    <style>
        .form-sign-in {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-sign-in .form-sign-in-heading{
            margin-bottom: 10px;
        }

        .form-sign-in .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-sign-in .form-control:focus {
            z-index: 2;
        }

    </style>
{% endblock %}
{% block context %}
    <div class="container col-md-offset-3 col-md-6">

        {% if messages %}
            {% for message in messages %}
                <div class = "alert alert-{{ message.tags }}">{{ message|safe }}</div>
            {% endfor %}
        {% endif %}

        <div class="card my-3">
            <div class="card-header">
                <h4 class="card-title mb-0"><b>Login</b></h4>
            </div>
            <div class="card-body">

                <form class="form-sign-in" role="form" method="post" action="{% url 'auth' %}">
                    {% csrf_token %}
                    <h2 class="form-sign-in-heading">Please sign in</h2>
                    <label for="{{loginForm.userName.id_for_label}}" class="sr-only">User Name</label>
                    <input name="{{loginForm.userName.html_name}}" type="text" id="{{loginForm.userName.id_for_label}}" class="form-control" placeholder="User Name" required
                           autofocus>
                    <label for="{{loginForm.password.id_for_label}}" class="sr-only">Password</label>
                    <input name="{{loginForm.password.html_name}}" type="password" id="{{loginForm.password.id_for_label}}" class="form-control mt-3" placeholder="Password" required>

                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                    <br/>
                    <a href="{% url 'forgotPassword' %}" style="text-align: center"><h5>Forgot your password? Click here.</h5></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block logout %}
{% endblock %}