{% extends "peer_review/base.html" %}
{% load staticfiles %}
{% block extrabasehead %}
    <!--Edit navbar active-->
    <script>
        var title = "login";
    </script>
    <!--end-->

    <!-- CSS for login form -->
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin

        #
        {{ loginForm.email.id_for_label }}
        input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin #{{ loginForm.password.id_for_label }}input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
{% endblock %}
{% block basecontext %}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="." class="navbar-brand"><img src="{% static "peer_review/header.png" %}" id="header"/></a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-left" style="padding-left:100px">
                    <li id="login"><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container col-md-offset-3 col-md-6">
        <div class="panel-group">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Login</b></h4>
                </div>
                <div class="panel-body">

                    <form class="form-signin" role="form" method="post" action="/login/auth/">
                        {% csrf_token %}
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="{{loginForm.email.id_for_label}}" class="sr-only">Email address</label>
                        <input name="{{loginForm.email.html_name}}" type="email" id="{{loginForm.email.id_for_label}}" class="form-control" placeholder="Email address" required
                               autofocus>
                        <label for="{{loginForm.password.id_for_label}}" class="sr-only">Password</label>
                        <input name="{{loginForm.password.html_name}}" type="password" id="{{loginForm.password.id_for_label}}" class="form-control" placeholder="Password" required>

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
                <div id="diverrors">
                {% if messages %}
                    {% for message in messages %}
                        <h3 style="color: red; text-align: center;">{{ message }}</h3>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block logout %}
{% endblock %}