{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Rounds</title>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script src="{% static "peer_review/search.js" %}"></script>
    <script type="text/javascript" src="{% static "peer_review/js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#round').DataTable();
            /*  $('#search').keyup(function () {
             t = $('#round').DataTable();
             t.search($('#search').val()).draw();
             })*/


        });
    </script>
    <script>
        title = "maintainRound";
    </script>

    <script type="text/javascript">


        function textBox(text) {
            return '<td style="text-align: center; ">' +
                    '<input type="text" class="noBorder" id="choice" value="' +
                    text +
                    '" style="text-align: center; "/>' +
                    '</td>';
        }
        function addRow(text, selector) {

            $table = $(selector);
            $('#round tr:last').after('<tr>' + '<td style="text-align: center; width: 10px;">' +
            '<input type="number" class="noBorder" style="text-align: center; "/>' +
            '</td>' + '</tr>');

        }
    </script>

    <script type="text/javascript">

        function addOnSubmitHandler() {
            $('#roundForm').on('submit', function (event) {
                event.preventDefault();
            });
        }
        function minusOnSubmitHandler() {

            $('#roundForm').unbind('submit').submit();
        }
        function createJson() {
            var data = {
                description: $('#roundDescription').val(),
                name: $('#roundName').val(),
                questionnaire: $('#questionnaire').val(),
                startingDate: $('#startingDate').val(),
                endingDate: $('#endingDate').val(),
            };

            console.log(data);
            return data;
        }
        // AJAX for posting
        function create_post() {
            var cname = $('#name').val();
            var cdesc = $('#description').val();
            var cquest = $('#questionnaire').val();
            var cstart = $('#startingDate').val();
            var cend = $('#endingDate').val();
            var test = false;
            var test2 = false;
            $('#round > tbody > tr').each(function (index, value) {
                label = $(this).find('#roundName').val();
                if (label == cname) {
                    $('#round-label-error').html('<div class="alert alert-danger">This name already exists</div>');

                    test2 = true;
                }
            });
            if (cname == '') {
                $('#round-label-error').html('<div class="alert alert-danger">This is a required field</div>');
                test = true;
            }
            else {

                if (test2 == false) {
                    $('#round-label-error').html('');
                }

            }
            if (cdesc == '') {
                $('#round-label2-error').html('<div class="alert alert-danger">This is a required field</div>');
                test = true;

            }
            else {
                $('#round-label2-error').html('');

            }
            if (cquest == '') {
                $('#round-label3-error').html('<div class="alert alert-danger">This is a required field</div>');
                test = true;
            }
            else {
                $('#round-label3-error').html('');

            }
            if (cstart == '') {
                $('#round-label4-error').html('<div class="alert alert-danger">This is a required field</div>');
                test = true;
            }
            else {
                $('#round-label4-error').html('');
            }
            if (cend == '') {

                $('#round-label5-error').html('<div class="alert alert-danger">This is a required field</div>');
                test = true;
            }
            else {
                $('#round-label5-error').html('');

            }

            if (test == true || test2 == true) {

                addOnSubmitHandler();
                return;
            }
            minusOnSubmitHandler();
            var data = createJson();
            $.ajax({
                url: "/createRound/", // the endpoint
                type: "GET", // http method
                data: data, // data sent with the post request
                success: function () {
                    console.log('Round was saved successfully.')
                },
                failure: function () {
                    alert('Error occurred in saving the question');
                }
            });

        }
        function CreateQuestionnaire(text) {


            if (text == "create") {
                window.location.href = '/questionnaireAdmin';
            }


        }
    </script>


    <script>
        title = "maintainRound";
    </script>
{% endblock extrahead %}
{% block context %}

    <div class="container">
        {% if error %}
            <div class="alert alert-danger">{{error}} </div>
        {% endif %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <h4 class="panel-title">
                        <a>
                            Create Round<b class="caret"> </b>
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">

                        <form role="form" id="roundForm" action="/createRound/" method="GET">
                            {% csrf_token %}
                            <input type="hidden" id="tableData">

                            <!--Name-->
                            <div class="form-group">
                                <label for="name">Name</label>

                                <textarea class="form-control" rows="1" style="resize:none;width:20%" id="name" name="name"></textarea>
                                <div id = "round-label-error">
                                </div>
                                <br/>

                                <!--Description-->
                                <div class="form-group">
                                    <label for="description">Description</label>

                        <textarea class="form-control" rows="2" style="resize:none;width:45%" id="description"
                                  name="description"></textarea>
                                    <div id = "round-label2-error">
                                    </div>
                                    <br/>
                                    <!--Questionnaire-->
                                    <div>
                                        <label for="questionnaire">Questionnaire</label>
                                    </div>
                                    <div>
                                        <select id="questionnaire" name="questionnaire" class="form-control"
                                                style="width:auto" >

                                            <option selected value="{{round.questionnaire.pk}}">{{ round.questionnaire.intro}}</option>
                                            {% for quest in questionnaires %}
                                                {% if round.questionnaire.intro = quest.intro %}

                                                {% else %}
                                                    <option value="{{quest.pk}}">{{ quest.intro }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div id = "round-label3-error">
                                            <br/>
                                        </div>
                                    </div>
                                    <!--StartingDate-->
                                    <div>
                                        <label for="startingDate">Starting Date</label>
                                        <div>

                                            <input type="datetimepicker" type="text"  name="startingDate" value=""  id ="startingDate"></input>
                                            <div id = "round-label4-error"> </div>

                                        </div>
                                    </div>
                                    <!--EndingDate-->
                                    <div>
                                        <br/>
                                        <label for="endingDate">Ending Date</label>
                                        <div>
                                            <input type="datetimepicker"  type="text" name="endingDate" value=""  id ="endingDate"></input>
                                            <div id = "round-label5-error"></div>

                                        </div>
                                    </div>
                                    <!--save-->
                                    <div>
                                        <br/>
                                        <div class = "row">
                                            <div class = "col-xs-11">
                                                <button class="btn btn-primary" onclick="create_post()">Save</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                    <h4 class="panel-title">
                        <a>
                            Maintain Round <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">


                        <div>
                            <table  id='round'>
                                <thead>
                                <tr>
                                    <th>Round Name</th>
                                    <th>Round Description</th>
                                    <th>Questionnaire Description</th>
                                    <th>Starting Date</th>
                                    <th>Ending Date</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                    <th>Dump</th>
                                    <th>Report</th>
                                    <th class="hidden">Questionnaire option types</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for round in roundDetail %}
                                    <tr id="{{ round.pk }}">
                                        <td data-id="roundName">{{ round.name }}</td>
                                        <td data-id="description">{{ round.description }}</td>
                                        <td data-id="questionnaire">{{ round.questionnaire.intro }}</td>
                                        <td data-id="startingDate">{{ round.startingDate|date:'DATETIME_FORMAT' }}</td>
                                        <td data-id="endingDate">{{ round.endingDate|date:'DATETIME_FORMAT' }}</td>
                                        <td>
                                            <button type="button" name="edit" class='btn btn-success btn-xs edit' data-toggle="modal" data-target="#editModal" data-csrf='{{ csrf_token }}' data-id="{{ round.pk }}" data-pk="{{ round.pk }}">
                                                &#9998;
                                            </button>
                                        </td>
                                        <td>
                                            <button type='button' name="delete" class='btn btn-warning btn-xs'
                                                    id='remove'>
                                                Delete
                                            </button>
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-info btn-xs dump"
                                                   value="Dump" data-pk="{{ round.pk }}">
                                        </td>
                                        <td>
                                            <input type="submit" class="btn btn-info btn-xs report" value="Report">
                                        </td>
                                        <td data-id="roundQuestionnaireIntroData" class="hidden">
                                            <div >
                                                <option selected value="{{round.questionnaire.pk}}">{{ round.questionnaire.intro}}</option>
                                                    {% for quest in questionnaires %}
                                                        {% if round.questionnaire.intro = quest.intro %}

                                                        {% else %}
                                                            <option value="{{quest.pk}}">{{ quest.intro }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                            </div>
                                        </td>
                                    </tr>

                                {% endfor %}

                                {% comment %}{% for round in roundDetail %}
                                    <tr id="{{ round.pk }}">
                                        <form action = "/maintainRound/update/{{round.pk}}" method = "POST">
                                            {% csrf_token %}
                                            <!--ROUND DESCRIPTION-->
                                             <td>
                                                 <input type="text" style="width: 100px" class="noBorder"
                                                        name="Roundname" id ="roundName"
                                                        value="{{ round.name }}" readonly>
                                             </td>

                                            <td>
                                                <input type="text" style="width: 150px" class="noBorder"
                                                       name="desc"
                                                       value="{{ round.description }}">
                                            </td>

                                            <!--SELECT FOR QUESTIONNARE-->
                                            <td>
                                                <select id="questionn" name="questionn" class="form-control"
                                                    style="width:auto" onchange="CreateQuestionnaire(value)">
                                                    <option selected value="{{round.questionnaire.pk}}">
                                                        {{ round.questionnaire.intro}}
                                                    </option>
                                                    {% for quest in questionnaires %}
                                                        {% if round.questionnaire.intro == quest.intro %}
                                                        {% else %}
                                                            <option value="{{quest.pk}}">
                                                                {{ quest.intro }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <option value="create">
                                                        Create Questionnaire
                                                    </option>
                                                </select>

                                                <!--STARTING DATE-->
                                                <td>
                                                    <input type="datetime" style="width: 200px" class="noBorder"
                                                           name="startingDate"
                                                           value="{{round.startingDate|date:'DATETIME_FORMAT'}}" >
                                                </td>

                                                <!--ENDINGDATE-->
                                                <td>
                                                    <input type="datetime" style="width: 200px" class="noBorder"
                                                           name="endingDate"
                                                           value="{{ round.endingDate|date:'DATETIME_FORMAT' }}">
                                                </td>
                                                <!--SPANNER-->
                                                <!--<td><button type='button' class='btn btn-default btn-xs' id='maintain'  onclick="window.location.href='/maintainTeam'"><span class="glyphicon glyphicon-wrench"></span></button></button></a></button></td>-->

                                                <!--EDIT-->
                                                <td>
                                                    <button type='submit' name="edit" class='btn btn-success btn-xs'
                                                            id='edit' value="{{ round.description }}">Edit
                                                    </button>
                                                </td>
                                        </form>

                                        <!--DELETE-->
                                        <td>
                                            <form action="/maintainRound/delete/{{ round.pk }}" method="post"
                                                  onsubmit="return confirmDeletion()">
                                                {% csrf_token %}
                                                <button type='submit' name="delete" class='btn btn-warning btn-xs'
                                                        id='remove'>Delete
                                                </button>
                                            </form>
                                        </td>

                                        <td>
                                            <input type="button" class="btn btn-info btn-xs dump" value="Dump" data-pk="{{ round.pk }}">
                                        </td>

                                        <td>
                                            <form action="/report/" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="roundPk" value="{{ round.pk }}">
                                                <input type="submit" class="btn btn-info btn-xs report" value="Report">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}{% endcomment %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="editModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Round</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="modalForm">
                                <!--<div class="form-group">
                                    <label for="userId">User ID:</label>
                                    <input type="text" class="form-control" id="e_userId">
                                </div>-->
                                <div class="form-group">
                                    <label for="e_roundName">Round Name:</label>
                                    <input type="text" class="form-control" id="e_roundName">

                                </div>
                                <div class="form-group">
                                    <label for="e_roundDescription">Round Description:</label>
                                    <input type="text" class="form-control" id="e_roundDescription">
                                </div>
                                <div class="form-group">
                                    <label for="e_roundQuestionnaireIntro">Questionnaire Description:</label>

                                    <select class="form-control" id="e_roundQuestionnaireIntro">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="startingDate">Starting Date:</label><br>
                                    <input type="datetimepicker"  type="text" name="startingDate" value=""  id ="e_startingDate" />
                                </div>
                                <div class="form-group">
                                    <label for="endingDate">Ending Date:</label><br>
                                    <input type="datetimepicker"  type="text" name="endingDate" value=""  id ="e_endingDate" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="updateConfirm" data-dismiss="modal">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>

                // Init date-time-picker
                $("#startingDate").datetimepicker({format: "Y-m-d H:i"});
                $("#endingDate").datetimepicker({format: "Y-m-d H:i"});


                $("#e_startingDate").datetimepicker({format: "Y-m-d H:i"});
                $("#e_endingDate").datetimepicker({format: "Y-m-d H:i"});

                var glob_roundPk = 0;
                $(".dump").on("click", function () {
                    var pk = $(this).data("pk");
                    glob_roundPk = pk;
                    var data = {
                        "roundPk": pk,
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    };

                    $.ajax({
                        type: "POST",
                        url: "/maintainRound/dump/",
                        data: data,
                        success: function (csvData) {
                            // console.log(csvData)
                            var blob = new Blob([csvData]);
                            var downloadLink = document.createElement('a');
                            downloadLink.href = window.URL.createObjectURL(blob);
                            downloadLink.download = "dump-r" + glob_roundPk + ".csv";
                            downloadLink.click();
                        }
                    });
                });
                $(".edit").on("click", function() {
                    var pk = $(this).data("pk");
                    var token = $(this).data("csrf");
                    var row = $("#round > tbody > tr#" + pk);
                    var roundName = row.children("[data-id='roundName']");
                    var roundDescription = row.children("[data-id='description']");
                    var roundQuestionnaireIntro = row.children("[data-id='questionnaire']");
                    var roundQuestionnaireIntroData = row.children("[data-id='roundQuestionnaireIntroData']");
                    var startingDate = row.children("[data-id='startingDate']");
                    var endingDate = row.children("[data-id='endingDate']");

                    $("#e_roundName").val(roundName.text());
                    $("#e_roundDescription").val(roundDescription.text());
                    $("#e_roundQuestionnaireIntro").html(roundQuestionnaireIntroData.html());
                    $("#e_startingDate").val(startingDate.text());
                    $("#e_endingDate").val(endingDate.text());

                    $("#updateConfirm").on("click", function () {
                        var data = {
                            'roundName': $("#e_roundName").val(),
                            'description': $("#e_roundDescription").val(),
                            'questionnaire': $("#e_roundQuestionnaireIntro").val(),
                            'startingDate': $("#e_startingDate").val(),
                            'endingDate': $("#e_endingDate").val(),
                            'csrfmiddlewaretoken': token
                        };

                        $.ajax({
                            type: 'POST',
                            url: '/maintainRound/update/' + pk,
                            data: data,
                            success: function() {
                                roundName.text($("#e_roundName").val());
                                roundDescription.text($("#e_roundDescription").val());
                                roundQuestionnaireIntro.text($("#e_roundQuestionnaireIntro option:selected").text());
                                startingDate.text($("#e_startingDate").val());
                                endingDate.text($("#e_endingDate").val());
                            }
                        });
                    });
                });
            </script>
{% endblock context %}