{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Team Admin</title>
    <!--Edit navbar active-->
    <script>
        title = "maintainTeam";
    </script>
    <!--end-->
    <!--Select correct table-->
    <script>
        var numTeams = 0;
        var selected = "";
    </script>
    <!--end-->
{% endblock extrahead %}
{% block context %}
<div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Team Builder<b class="caret"></b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div>
                                <h4>Select Round</h4>
                                <form role="form" method="post" action="#">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <select id='selectedRound' class="form-control" style="width:auto"
                                        name="type">
                                                <option selected value=""></option>
                                                {% for round in rounds %}
                                                    <option value="{{ round.pk }}">{{ round.description }}</option>
                                                {% endfor %}
                                            </select>
                                            <a href="/maintainRound" class="btn btn-info btn-xs plus">+</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <br/><br/><br/>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><b>Class List</b></h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class='table-responsive'>
                                                    <table class='table moveable sortable' id='users'>
                                                        <thead>
                                                            <tr>
                                                                <th>Student Number</th>
                                                                <th>Name</th>
                                                                <th>Surname</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for user in users %}
                                                                {% csrf_token %}
                                                                <tr id="{{ user.pk }}">
                                                                    <td>{{ user.userId }}</td>
                                                                    <td>{{ user.userDetail.name }}</td>
                                                                    <td>{{ user.userDetail.surname }}</td>
                                                                    <td></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><b>Teams</b></h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="panel-group" id="teams">
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title"><input type="button" value="+" class="btn btn-info btn-xs plus" field="" onclick="addTeam()"/><b> Add</b></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Create Teams Via CSV File <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form role="form" method="post" action="#">
                            <div class="form-group">
                                <label for="inputfile">Upload CSV File:</label>
                                <input type="file" id="inputfile">
                                <p class="help-block">Select a CSV file to create teams</p>
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Maintain Teams <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Please select the round number for the teams you wish to maintain</p>

                        <form role="form" method="post" action="#">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function addTeam()
        {
            var teamID = prompt('Team name:', 'Team'+(numTeams+1));
            while($("#"+teamID).length != 0)
            {
                teamID = prompt('Team name already in use:', teamID);
            }
            if(teamID != null)
            {
                addTeamCont(teamID);
            }
        }

        function addTeamCont(teamID)
        {
            numTeams++;
            var newTeam = '<div class="panel panel-default">'+
                          '      <div class="panel-heading">'+
                          '          <h4 class="panel-title">'+
                          '              <input type="button" value="-" class="btn btn-info btn-xs minus" field="" onclick="removeTeam(\''+teamID+'\')"/>'+
                          '              <a data-toggle="collapse" data-parent="#teams" href="#'+teamID+'">'+
                          '                  '+teamID+'<b class="caret"></b>'+
                          '              </a>'+
                          '          </h4>'+
                          '      </div>'+
                          '      <div id="'+teamID+'" class="panel-collapse collapse  panel-team">'+
                          '          <div class="panel-body">'+
                          '              <table class="table sortable moveable teamTable">'+
                          '                  <thead>'+
                          '                      <tr>'+
                          '                          <th>Student Number</th>'+
                          '                          <th>Name</th>'+
                          '                          <th>Surname</th>'+
                          '                          <th></th>'+
                          '                      </tr>'+
                          '                  </thead>'+
                          '                  <tbody>'+
                          '                  </tbody>'+
                          '              </table>'+
                          '          </div>'+
                          '      </div>'+
                          '  </div>';
            $("#teams").append(newTeam);

            $("#"+teamID).find(".teamTable").DataTable({
                "orderClasses": false,
                    "columnDefs": [{
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return "<div class=\"removeUser button\" '><span class=\"glyphicon glyphicon-remove-circle\"></span></div>"
                        },
                        "targets": [3]}]
            });
        }

        function removeTeam(teamID)
        {
            if(confirm("You are about to delete team " + teamID +". Do you want to do this?"))
            {
                $("#"+teamID).find('div.removeUser').click();
                $("#"+teamID).parent(1).remove();
            }
        }

        function moveUser(fromTable, toTable, row)
        {
            var tr = fromTable.row(row);
            var node = tr.node();
            tr.remove();
            toTable.row.add(node).draw();
        }

        $(document).ready(function () {
            var users = $("#users").DataTable({
                "orderClasses": false,
                    "columnDefs": [{
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return "<div class=\"addUser button\"><span class=\"glyphicon glyphicon-chevron-right\"></span></div>"
                        },
                        "targets": [3]}]
            });
            var teams = $(".teamTable").DataTable({
                "orderClasses": false,
                    "columnDefs": [{
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return "<div class=\"removeUser button\"><span class=\"glyphicon glyphicon-remove-circle\"></span></div>"
                        },
                        "targets": [3]}]
            });


            $('#teams').on('hide.bs.collapse', '.panel-team', function() {
                selected = "";
            });

            $('#teams').on('shown.bs.collapse', '.panel-team', function(e) {
                selected = e.currentTarget.id;
            });

            $('.moveable tbody').on('click', 'div.addUser', function() {
                if(selected != "" && $("#"+selected+" .in") != null)
                {
                    var teamTable = $("#"+selected).find(".teamTable").DataTable();
                    if(teamTable != null)
                    {
                        moveUser(users, teamTable, $(this).parents('tr'));
                    }
                }
            });

            $(document).on('click', 'div.removeUser', function() {
                var teamTable = $(this).parents("table").DataTable();
                moveUser(teamTable, users, $(this).parents('tr'));
            });

            
            $('#selectedRound').on('change', function() {
                $("#teams").find("div.removeUser").click();
                $("#teams").html("");
                if(this.value != '')
                {
                    $.ajax({
                        url: '/maintainTeam/getTeamsForRound/' + this.value,
                        type: 'GET',
                        success: function(data) {
                            console.log(data);
                            
                            for(var team in data)
                            {
                                team = data[team];
                                console.log("Team: " + team);
                                if(team["teamNumber"] != 0)
                                {
                                    console.log("Status: " + team["status"]);
                                    if($("#"+team["status"]).length == 0)
                                    {
                                        addTeamCont(team["status"]);
                                    }

                                    selected = team["status"];
                                    $("#"+team["status"]).addClass("in");
                                
                                    $("#users").find("#"+team["userId"]).find('div.addUser').click();
                                    //console.log($("#users").find("#"+team["userId"]).find('div.addUser'));

                                    $("#"+team["status"]).removeClass("in");
                                    selected = "";
                                }
                            }
                        },
                        failure: function(data) {
                            console.log('Error: getTeamsForRound');
                        }
                    }); 
                }
                else
                {
                    // TODO: clear all the tables
                }
            });
            
        });
    </script>
{% endblock context %}