<div class="card my-3">
    <div class="card-header" data-toggle="collapse" data-parent="#teams" href="#{{ team_name }}">
        <div class="float-right">
                <span class="team-size" id="{{ team_name }}_size">{{ team_size }}</span><b class="caret"></b>
        </div>
            <input type="button" value="-" class="btn btn-info btn-sm minus" field="" onclick="removeTeam('{{ team_name }}')"/>
            {{ team_name }}
        <div class="clearfix"></div>
    </div>
    <div id="{{ team_name }}" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <table class="table sortable moveable teamTable">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in userList %}
                    <tr id="{{ user.pk }}">
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>