{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Team Admin</title>
    <!--Edit navbar active-->
    <script>
        title = "maintainTeam";
    </script>
    <!--end-->
{% endblock extrahead %}
{% block context %}
<div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Team Builder<b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div>
                            <h4>Select Round</h4>
                            <form role="form" method="post" action="#">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>Round name 1</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br/><br/><br/>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><b>Class List</b></h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class='table-responsive'>
                                                <table class='table moveable sortable' id='users'>
                                                    <thead>
                                                        <tr>
                                                            <th>Student Number</th>
                                                            <th>Name</th>
                                                            <th>Surname</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>14020202</td>
                                                            <td>Matthias</td>
                                                            <td>Harvey</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>140206202</td>
                                                            <td>Piet</td>
                                                            <td>Somesurname</td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                </div>
                                <div class="col-xs-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><b>Teams</b></h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"><input type="button" value="-" class="btn btn-info btn-xs minus" field=""/><b> Team X</b></h4>
                                                </div>
                                                <div class="panel-body">
                                                    <table class='table sortable moveable' id='teams'>
                                                        <thead>
                                                            <tr>
                                                                <th>Student Number</th>
                                                                <th>Name</th>
                                                                <th>Surname</th>
                                                                <th>/th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>13020202</td>
                                                                <td>Hatthias</td>
                                                                <td>Marvey</td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td>140206202</td>
                                                                <td>Hillon</td>
                                                                <td>Deins</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"><input type="button" value="+" class="btn btn-info btn-xs plus" field=""/><b> Add</b></h4>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Create Teams Via CSV File <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form role="form" method="post" action="#">
                            <div class="form-group">
                                <label for="inputfile">Upload CSV File:</label>
                                <input type="file" id="inputfile">
                                <p class="help-block">Select a CSV file to create teams</p>
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Maintain Teams <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Please select the round number for the teams you wish to maintain</p>

                        <form role="form" method="post" action="#">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <select class="form-control"></select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var users = $("#users").DataTable({
                "orderClasses": false,
                    "columnDefs": [{
                    "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return "<div class=\"addUser button\" '><span class=\"glyphicon glyphicon-chevron-right\"></span></div>"
                        },
                        "targets": [3]
                }]
            });
            var teams = $("#teams").DataTable({
                "orderClasses": false,
                    "columnDefs": [{
                    "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return "<div class=\"removeUser button\" '><span class=\"glyphicon glyphicon-remove-circle\"></span></div>"
                        },
                        "targets": [3]
                }]
            });
            $('.moveable tbody').on('click', 'div.addUser', function () {
                var tr = $(this).closest('tr');
                users.row(tr).remove().draw();
                teams.row.add(tr).draw();
            });
            $('.moveable tbody').on('click', 'div.removeUser', function () {
                var tr = $(this).closest('tr');
                teams.row(tr).remove().draw();
                users.row.add(tr).draw();
            });

        });
    </script>
{% endblock context %}