{% extends "peer_review/baseUser.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title xmlns="http://www.w3.org/1999/html">Questionnaire</title>
	<style type="text/css">
		label {
  		font-weight: bold;
  		padding: 12px;
		}


input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    /*border: 1px solid white;*/
    
    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}
input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 4px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #428BCA;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #428BCA;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 7px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #428BCA;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
  </style>
  


    <script src="{% static "peer_review/search.js" %}"></script>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script src="{% static "peer_review/jquery.min.js" %}"></script>
    <script src="{% static "peer_review/js/bootstrap-slider.js" %}"></script>
    <script type="text/javascript">
        function makeOneRowSelectable(table, dataTable) {
            table.find('tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    dataTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        }

        function resizeTableColumns(table) {
            table.find('tr').each(function () {
                $(this).find('input[type="text"]').each(function () {
                    $(this).attr('size', $(this).val().length);
                });
            });
        }

        // @todo refactor or something
        var upArrow = '<td style="text-align: center; width: 20px;">' +
                '<a class="move up" href="javascript:void(0)" title="move up">' +
                '<span class="glyphicon glyphicon-arrow-up"></span>' +
                '</a>' +
                '</td>';

        var downArrow = '<td style="text-align: center; width: 20px; ">' +
                '<a class="move down" href="javascript:void(0)" title="move down">' +
                '<span class="glyphicon glyphicon-arrow-down"></span>' +
                '</a>' +
                '</td>';

        $(document).ready(function () {
            var questionTable = $("#questionTable");
            resizeTableColumns(questionTable);

            var dTableQuestion = questionTable.DataTable({
                "orderClasses": false,
                "columnDefs": [{
                    "orderable": false,
                    "searchable": false,
                    "render": function (data, type, full, meta) {
                        return "<div class=\"addQuestion button\" '><span class=\"glyphicon glyphicon-chevron-right\"></span></div>"
                    },
                    "targets": [4]
                }]
            });

            var questionnaireTable = $("#questionnaireTable");
            var dTableQuestionnaire = questionnaireTable.DataTable({
                "orderClasses": false,
                "order": [], // No initial sorting
                "columnDefs": [
                    {
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return "<div class=\"removeQuestion button\" '><span class=\"glyphicon glyphicon-remove-circle\"></span></div>"
                        },
                        "targets": [4]
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "targets": [0, 1, 2, 3]
                    }
                ]
            });
            dTableQuestionnaire.columns.orderable = false;

            makeOneRowSelectable(questionTable, dTableQuestion);
            makeOneRowSelectable(questionnaireTable, dTableQuestionnaire);


            {#            $('#button').click( function () {#}
            {#                alert( table.rows('.selected').data().length +' row(s) selected' );#}
            {#            } );#}

            var moveable = $(".moveable tbody");
            moveable.on('click', 'div.addQuestion', function () {
                var tr = $(this).closest('tr').clone(); // Deep copy
                dTableQuestionnaire.row.add(tr).draw();
            });

            moveable.on('click', 'div.removeQuestion', function () {
                var tr = $(this).closest('tr');
                dTableQuestionnaire.row(tr).remove().draw();
                {#                users.row.add(tr).draw();#}
            });
        });
    </script>
    <!--Edit navbar active-->
    <script>
        title = "questionnaire";
    </script>
    <!--end-->
{% endblock %}
{% block context %}
    	
    	{% for questionnaires in questionnaire %}
			{% ifequal questionnaires.id questionnairePk %}
            <div class="panel panel-primary">
                <div class="panel-body">
				    {{ questionnaires.intro|safe }}
                </div>
            </div>
			{% endifequal %}
		{% endfor %}

		<div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                         data-target="#collapseOne">
                        <h4 class="panel-title">
                            <a>
                                Questions <b class="caret"></b>
                            </a>
                        </h4>
                    </div>

                    <!--<div id="collapseOne" class="panel-collapse collapse in">-->
                        <div class="panel-body">

                            
                            <div class='table-responsive'>
                                
                                   <!-- <tbody>
                                    	{% for question in questionnaire %}
                                        <tr id="{{ question.pk }}">
                                            
                                                {% csrf_token %}
                                                <br><td><input type="text" readonly style="width: 250px" class="noBorder"
                                                           name="questionText"
                                                           value="{{ question.questionText }}"></input>
						<label for="questionText">{{ question.intro }}</label>
                                              
                                               <!- <input type="text" style="width: 200px" class="noBorder"
                                                           name="questionType"
                                                           value="{{ question.questionType.name }}"></input></td> ***</br>
						{% if question.questionType.name = "Choice" %}
							<input type="text" style="width: 200px"
                                                           name="questionGroup"></input>
						{% else %}
							<br>Else condition</br>
						{% endif %}
						<p>skip a line</p>
                                                <td><input type="text" style="width: 200px" class="noBorder"
                                                           name="questionGroup"
                                                           value="{{ question.questionGrouping.grouping }}"></input>
                                                </td>
                                              
                                            </form>
                                            
                                        </tr>
                                    {% endfor %}
                                    </tbody>  Replace *** with end annotation -->
					
					<tbody>
						{% for QuestionsOrder in questionOrder|dictsort:"order" %}
							{% ifequal QuestionsOrder.questionnaire_id questionnairePk %}
								{% for QuestionsText in questions %}
									{% ifequal QuestionsText.id QuestionsOrder.question_id %}
                                    <legend> </legend>
										<p style="font-size:110%;">{{ QuestionsText.questionText }}</p>
										{% if QuestionsText.questionType_id == 2 %} <!-- CHOICE QUESTIONS-->

											<fieldset>
												<legend>Options</legend>
												{% for QuestionsChoice in questionChoices %}
												<form>
													{% ifequal QuestionChoice.question_id QuestionsOrder.question_id %}
														<input type="radio" name="questionChoice"
														value="{{ QuestionsChoice.choiceText }}">{{ QuestionsChoice.choiceText }}<br>
													{% endifequal %}
												</form>	
											</fieldset>
												{% endfor %}

										{% elif QuestionsText.questionType_id == 3 %} <!-- RANK QUESTIONS-->
										<div>
                                        
                                        {% for Ranks in questionRanking %}
                                            {% ifequal Ranks.question_id QuestionsOrder.question_id  %}
                                            
										<div style="float: left; width:48%"><b>{{ Ranks.firstWord }}</b></div>
                                        <div style="float: left; width:4%" align="center">
                                        <label id="valueLabel{{ QuestionsOrder.order }}"><b>5</b></label></div>
										<div style="float: left; width:48%" align="right"><b>{{ Ranks.secondWord }}</b></div>
                                        <br style="clear: left;"/>

										  
                                            {% endifequal %}
                                        {% endfor %}
      									
      										<input type="range" min="0" max="10" value="5" step="1" onchange="updateLabel(this.value, {{ QuestionsOrder.order }})" />
      										
      										<script type="text/javascript">
      										function updateLabel(LabelValue, LabelID)
      										{
                                                document.getElementById('valueLabel' + LabelID).innerHTML=LabelValue;
											}
      											</script>
      									</div>
										
      		                            



										{% endif %}

									{% endifequal %}
								{% endfor %}
							{% endifequal %}
							
						{% endfor %}
					</tbody>
 				  	
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
	<div class="btn-group col-xs-5" style="margin: 7px 0;">
	<button type='submit' name="create" class='btn btn-primary btn-md' id='saveProgress'
                    			onclick="window.location.href='/questionnaire/save'">Save Progress
            		      </button>
				<script>
					function submitConfirm()
					{
						if(confirmSubmit())
							window.location.href='/questionnaire/submit';
					}
				</script>
				<button type='submit' name="create" class='btn btn-success btn-md' id='submitQuestionnaire'
                    			onclick="return submitConfirm()">Submit
            		      </button>
	</div>



    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">&copy; Pinocchio Team</p>
            <a class="navbar-btn btn-danger btn pull-right" href="/logout">Log Out</a>
        </div>
    </div>
    </div>
{% endblock %}
