{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Create Question</title>

    <script type="text/javascript" src="{% static "peer_review/js/stacking.js" %}"></script>
    <script type="text/javascript" src="{% static "peer_review/js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">
        /**Todo**
        Fix the missing line above the buttons in the #questionList table
        Refactor: Move js code to a seperate file
        */

        var isEditing = false;
        $(document).ready(function () {
            addOnSubmitHandler();
            selected();
            $('#questionList').DataTable( {
                                            columns: [
                                                        { title: "Label" },
                                                        { title: "Publish Date" },
                                                        { title: "Type." },
                                                        { title: "Grouping" }
                                                    ],
                                            //Add 'edit' and 'delete' buttons to each row added to table
                                            "fnCreatedRow": function(row, data, index) {
                                                $(row).append('<td><button class="btn btn-success btn-xs" type = "button" onclick = "editQuestion(' + "'" + data[0] + "'" + ')">Edit</button>  '
                                                +'<button type="button" class="btn btn-warning btn-xs" onclick = "deleteQuestion(' + "'" + data[0] + "'" + ')">Delete</button></td>');
                                            },
                                            "bPaginate": false,
                                            "sDom" : "t"
                                           }); 
            updateQuestionList();

            $('#search').keyup(function () {
                t = $('#questionList').DataTable();
                t.search($('#search').val()).draw();
            })

            $('#questionLabel').keyup(function() {
                qLabel = $('#questionLabel').val();

                if (questionExists(qLabel)) {
                    $('#question-label-error').html('<div class="alert alert-danger fade in">Question label must be unique</div>');
                }
                else if (qLabel.length > 300) {
                    $('#question-label-error').html('<div class="alert alert-danger fade in">Question label must be less than 300 characters</div>');
                } 
                else {
                    $('#question-label-error').html('');
                }
            })

            
        });

        function addOnSubmitHandler() {
            $('#questionForm').on('submit', function (event) {
                event.preventDefault();
            });
        }

        function questionExists(label)
        {
            //Of course the question exists if it's being edited
            if (isEditing)
                return false;

            var table = $('#questionList').DataTable();             
            var index = table.column(0).data().indexOf(label);
            if (index < 0)
                return false
            else
                return true;
        }

        function saveSuccess(message) {
            //Show success alertbox thingy
            $('#results').html('<div class="alert alert-success">' + message + '</div>');

            //Make the alert box disappear after 5 seconds
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);

            clearPage();

            //For some reason it needs to wait before refreshing the list.
            //Only for deleting questions though.
            setTimeout(function(){
                updateQuestionList();
            }, 100);
        }

        function changeGrouping() {
            //Shows the label table if the grouping is changed to 'label'
            if ($('#grouping').val() === 'Label') {
                $('#labelTable').parent().parent().parent().fadeIn();
                $('.labelTable').fadeIn();
            } else {
                $('#labelTable').parent().parent().parent().fadeOut();
                $('.labelTable').fadeOut();
            }

        }

        function selected() {
            var value = document.getElementById("type").value;
            document.getElementById("typeDisplay").innerHTML = document.getElementById(value).innerHTML;
            initialiseStacking();
            changeGrouping();

            $('#grouping').prop('disabled', true);

            if ($('#type').val() == 'Label') {
                $('#grouping').val('None');
                $('#grouping').prop('disabled', true);
            }
            else {
                $('#grouping').prop('disabled', false);
            }

            if ($('#type').val() == 'Rank')
                $('#add').hide();
            else
                $('#add').show();

        }

        function cancel()
        {
            if (isEditing)
                $("#cancelButton").html('Clear');
            clearPage();
        }

        function clearPage()
        {
            //Remove items from the choice, freeform and rate tables
            $("#table").find("tr:gt(0)").remove();

            //Clear inputs
            $('#question').val([]);
            $('#questionLabel').val([]);
            $('#type').val('Label');
            $('#grouping').val('None');
            isEditing = false;
            selected();

            $("#type").prop("disabled", false);
            $("#questionLabel").prop('disabled', false);
            $('#table-error').html('');
            $('#question-label-error').html('');
        }

        function getLabels() {
            var labels = [];

            $('#labelTable > tbody > tr').each( function (index, value) {
                label = $(this).find('#choice').val();
                labels.push(label);
            });  
            return labels;
        }

        function getChoices() {
            var choices = [];

            $('#table > tbody > tr').each(function (index, value) {
                choice = $(this).find('#choice').val();
                if (choice != '')
                    choices.push(choice);
            });

            return choices;
        }

        function getFreeformItems() {
            var items = {};
            items.types = [];
            items.values = [];
            $('#table > tbody > tr').each(function (index, value) {
                var value = $(this).find('#choice').val();
                var type = $(this).find('#type').val();
                items.types.push(type);
                items.values.push(value);
            });
            return items;            
        }

        function getRates() {
            var rates = {scales: [], optionals: [], choices: []};

            $('#table > tbody > tr').each(function (index, value) {
                var optional = $(this).find('#optional').is(':checked');
                var scale = $(this).find('#scale').val();
                var choice = $(this).find('#choice').val();

                if (choice != '') {
                    rates.scales.push(scale);
                    rates.optionals.push(optional);
                    rates.choices.push(choice);
                }
            });

            return rates;
        }

        //Html snippets used to add new rows to tables
        var upArrow = '<td style="text-align: center; width: 20px;">' +
                '<a class="move up" href="javascript:void(0)" title="move up">' +
                '<span class="glyphicon glyphicon-arrow-up"></span>' +
                '</a>' +
                '</td>';

        var downArrow = '<td style="text-align: center; width: 20px; ">' +
                '<a class="move down" href="javascript:void(0)" title="move down">' +
                '<span class="glyphicon glyphicon-arrow-down"></span>' +
                '</a>' +
                '</td>';

        function numberBox(number)
        { 
            return '<td style="text-align: center; width: 10px;">' +
                   '<input type="number" class="noBorder" id="scale" style="text-align: center;"" value = "' + number + '"/>' +
                   '</td>';
        }

        function checkBox(isChecked)
        { 
            return '<td style="text-align: center; width: 10px;">' +
            '<div class = "checkbox">' +
             (isChecked ? '<input type="checkbox" id = optional checked>' : '<input type="checkbox" id = optional>') +
            '</div>' +
            '</td>';
        }

        var removeButton = '<td style="text-align: center; width: 20px; ">' +
                '<a class="remove" href="javascript:void(0)">' +
                '<span class="glyphicon glyphicon-minus"></span>' +
                '</a>' +
                '</td>';

        function dropDown(value)
        { 
            return '<td>' +
                '<select class="form-control" id = "type">' +
                (value == 'Word' ? '<option value="Word" selected>Word</option>' : '<option value="Word">Word</option>') +
                (value == 'Paragraph' ? '<option value="Paragraph" selected>Paragraph</option>' : '<option value="Paragraph">Paragraph</option>') +
                (value == 'Integer' ? '<option value="Integer" selected>Integer</option>' : '<option value="Integer">Integer</option>') +
                (value == 'Real' ? '<option value="Real" selected>Real</option>' : '<option value="Real">Real</option>') +
                '</select>' +
                '</td>';
        }

        //Fetches question details from database
        function editQuestion(label) {
            clearPage();
            isEditing = true;
            $("#type").prop("disabled", true);
            $("#questionLabel").prop('disabled', true);
            $("#cancelButton").html('Cancel');

            //Query question details from db
            $.ajax({
                url: '/questionAdmin/getQuestion/',
                data: {questionLabel: label},
                success: function (data) {populateQuestionFields(data);},
                failure: function () {alert('Error');}
            });

            //Go to top of page
            //window.scrollTo(0, 0);
        }

        //Populates question fields
        function populateQuestionFields(data)
        {
            $('#questionLabel').val(data.questionLabel);
            $('#question').val(data.questionText);
            $('#type').val(data.questionType);
            $('#grouping').val(data.questionGrouping);
            selected();

            if (data.questionGrouping == "Label")
            {
                for (var x = 0; x < data.labels.length; x++)
                {
                    addRow(data.labels[x], '#labelTable');
                }
            }

            switch (data.questionType) {
                case 'Choice':
                    $.ajax({
                        url: '/questionAdmin/getChoices/',
                        data: {questionLabel: data.questionLabel},                   
                        success: function (data) 
                        {
                            for (var c in data)
                            {
                                if (data.hasOwnProperty(c))
                                {
                                    addRow(data[c], '#table');
                                }
                            }
                        },
                    })
                    break;
                case 'Rate':
                    $.ajax({
                        url: '/questionAdmin/getRates/',
                        data: {qL: data.questionLabel},                   
                        success: function (data) 
                        {
                            for (var x = 0; x < data.optionalArr.length; x++)
                            {
                                //Need to make a better function for this
                                //Then again, this will probably get changed
                                addRateRow(data.optionalArr[x], data.scaleArr[x]);
                            }
                        },
                    })
                    break;
                case 'Freeform':
                    $.ajax({
                        url: '/questionAdmin/getFreeformItems/',
                        data: {qL: data.questionLabel},
                        success: function(data) {
                            for (var x = 0; x < data.typeArr.length; x++)
                            {
                                addFreeformRow(data.typeArr[x], data.valueArr[x]);
                            }
                        }
                    });
                    break;
                case "Rank":
                    $.ajax({
                        url: '/questionAdmin/getRank/',
                        data: {qL: data.questionLabel},
                        success: function(data) {
                            $('#first').val(data.firstWord);
                            $('#second').val(data.secondWord);
                        }
                    });
                default:
                    break;
            }         
        }

        function addRateRow(optional, scale)
        {
            $('#table').append('<tr>' + checkBox(optional) + numberBox(scale) + textBox('----') + upArrow + downArrow + removeButton + '</tr>');
            $('#table-error').html('');
        }

        function addFreeformRow(type, value)
        {
            $('#table').append('<tr>' + dropDown(type) + textBox(value) + upArrow + downArrow + removeButton + '</tr>');
            $('#table-error').html('');
        }

        //Update the question list
        function updateQuestionList()
        {
            console.log("Updating question list");
            $.ajax({
                url: '/questionAdmin/getQuestionList/',
                type: 'get',
                success: function(data) {
                    var contents = [];
                    for (var i = 0; i < data.labels.length; i++)
                    {
                        contents.push([data.labels[i], data.publishDates[i].substring(0, 10), data.types[i], data.groupings[i]])
                    }
                    t = $('#questionList').DataTable();
                    t.clear();
                    t.rows.add(contents).draw();
                }                   
            })
        }

        function textBox(text) {
            return '<td style="text-align: center; ">' +
                    '<input type="text" class="noBorder" id="choice" value="' +
                    text +
                    '" style="text-align: center; "/>' +
                    '</td>';
        }

        function addRow(text, selector) {
            $table = $(selector);
            if (selector != '#labelTable') {
                switch ($('#type').val()) {
                    case 'Choice':
                        $table.append('<tr>' + textBox(text) + upArrow + downArrow + removeButton + '</tr>');
                        $('#table-error').html('');
                        break;
                    case 'Rate':
                        $table.append('<tr>' + checkBox(false) + numberBox(0) + textBox(text) + upArrow + downArrow + removeButton + '</tr>');
                        break;
                    case 'Freeform':
                        $table.append('<tr>' + dropDown('Word') + textBox(text) + upArrow + downArrow + removeButton + '</tr>');
                        break;
                    default:
                        break;
                }
            } else {
                $table.append('<tr>' + textBox(text) + upArrow + downArrow + removeButton + '</tr>');
            }

        }

        function createJson() {
            var data = {
                question: $('#question').val(),
                questionType: $('#type').val(),
                questionLabel: $('#questionLabel').val(),
                grouping: $('#grouping').val(),
                isEditing: isEditing
            };

            if ($('#grouping').val() === 'Label')
                data.labelArr = getLabels();

            switch ($('#type').val()) {
                case 'Choice':
                    data.choices = getChoices()
                    break;
                case 'Rank':
                    data.firstWord = $('#first').val();
                    data.secondWord = $('#second').val();
                    break;
                case 'Label':
                    data.grouping = 'None';
                    break;
                case 'Rate':
                    data.optionalArr = getRates().optionals;
                    data.choiceArr = getRates().choices;
                    data.scaleArr = getRates().scales;
                    break;
                case 'Freeform':
                    data.types = getFreeformItems().types;
                    data.values = getFreeformItems().values;
                    break;
            }

            console.log(data);
            return data;
        }

        function deleteQuestion(label)
        {
            console.log("Deleting question with label: '" + label + "'");

            var r = confirm("Delete this question?");
            if (!r)
                return;

            var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
            $.ajax({
                    url: "/questionAdmin/delete/",
                    type: "POST",
                    //csrf token is sent with the ajax call
                    data: {'questionLabel': label, 'csrfmiddlewaretoken': token},
                    //For some reason this doesn't wait until the question is deleted
                    success: saveSuccess('Question was deleted successfully.')  
                });          
        }

        // AJAX for posting
        function create_post() {  

            //Validation
            var qLabel = $('#questionLabel').val();
            if (qLabel == '') {
                $('#question-label-error').html('<div class="alert alert-danger">This is a required field</div>');
                return;
            }
            if (qLabel.length > 300 || questionExists(qLabel))
            {
                return;
            }

            var rowCount = $('#table > tbody > tr').length;
            if ($('#type').val() in {'Choice':1, 'Freeform':1, 'Rate':1} && rowCount < 1) {
                $('#table-error').html('<div class="alert alert-danger">You need to add some items</div>');
                return;
            }

            var data = createJson();
            $.ajax({
                url: "/createQuestion/", // the endpoint
                type: "GET", // http method
                data: data, // data sent with the post request
                success: saveSuccess('Question was saved successfully.')
                });
        };

    </script>
    <!--Edit navbar active-->
    <script>
        title = "questionAdmin";
    </script>
    <!--end-->
{% endblock %}

{% block context %}
    <div class="container" id="content">
        <div class="panel panel-default">
            <div id="results">
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <b>Create Question</b>
                </h4>
            </div>
            <div class="panel-body">
                <form role="form" id="questionForm" action="/createQuestion/" method="GET">
                    {% csrf_token %}
                    <input type="hidden" id="tableData">

                    <div class="form-group">
                        <label for="questionLabel">Question Label</label>
                        <textarea class="form-control" rows="1" style="resize:none;width:100%" id="questionLabel"
                                  name="questionLabel"></textarea>
                        <div id = "question-label-error">
                        </div>
                        <br/>
                        <label for="question">Question</label>
                        <textarea class="form-control"rows="3" style="resize:none;width:100%" id="question"
                                  name="question"></textarea>
                        <br/>
                        <div class="row">
                            <div class="col-xs-5">
                                <label>Grouping</label>
                            </div>
                            <div class="col-xs-5">
                                <label>Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 ">
                                <select class="form-control" id="grouping" style="width:auto" onchange="changeGrouping()">
                                    <option value="None">None</option>
                                    <option value="Rest">Rest</option>
                                    <option value="All">All</option>
                                    <option value="Label">Label</option>
                                </select>
                            </div>
                            <div class="col-xs-5">
                                <select id="type" class="form-control" style="width:auto" onchange="selected()"
                                        name="type" value= {{ questionType }}>
                                    {% if questionTypes %}
                                        {% for qt in questionTypes %}
                                            {% if qt == questionType %}
                                                <option selected value="{{ qt.name }}">{{ qt.name }}</option>
                                            {% else %}
                                                <option value="{{ qt.name }}">{{ qt.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <br/>

                        <div id="typeDisplay">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <table id="table" class="table"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class = "row">
                            <div class = "col-xs-11">
                                <button class="btn btn-primary" type="submit" onclick="create_post()">Save</button>
                            </div>
                            <div class = "col-xs-1">
                                <button class="btn btn-primary" id = "cancelButton" onclick="cancel()">Clear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="hidden" class="hidden">
        <div id="Label"></div>
        <div id="Choice">
            <div id = "table-error">
            </div>
            <div class="row">
                <div class="labelTable">
                    <div class="col-xs-1">
                        <button class="btn btn-primary" id="btn" type="button"
                                onclick="addRow('', '#labelTable')">+ Add
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-primary" id="btn" type="button" onclick="addRow('', '#table')">+ Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="labelTable"
                                   class="table table-striped table-condensed table-hover btable labelTable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Label</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>                
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="table" class="table table-striped table-condensed table-hover btable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Choices</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                {% for c in choices %}
                                    <tr>
                                        <td style="text-align: center; ">
                                            <input type="text" class="noBorder" id="choice" value="{{ c }}"
                                                   style="text-align: center; "/>
                                        </td>
                                        <td style="text-align: center; width: 20px;">
                                            <a class="move up" href="javascript:void(0)" title="move up">
                                                <span class="glyphicon glyphicon-arrow-up"></span>
                                            </a>
                                        </td>

                                        <td style="text-align: center; width: 20px; ">
                                            <a class="move down" href="javascript:void(0)" title="move down">
                                                <span class="glyphicon glyphicon-arrow-down"></span>
                                            </a>
                                        </td>

                                        <td style="text-align: center; width: 20px; ">
                                            <a class="remove" href="javascript:void(0)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </a>
                                        </td>
                                    <tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Rate">
            <div id = "table-error">
            </div>
            <div class="row hide_in_label">
                <div class="col-xs-1">
                    <button class="btn btn-primary" id="btn" type="button" onclick="addRow('', '#table')">+ Add</button>
                </div>
                <div class="col-xs-10">
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-primary labelTable" id="btn" type="button" onclick="addRow('', '#labelTable')">+ Add
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="table" class="table table-striped table-condensed table-hover btable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Optional</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Scale</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Choice</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="labelTable"
                                   class="table table-striped table-condensed table-hover btable labelTable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Label</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Rank">
            <div class="row">
                <div class="col-xs-4">
                    <label for='first'>First Word</label>
                </div>
                <div class="col-xs-4">
                    <label for='second'>Second Word</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <input class='form-control' type='text' id='first'/>
                </div>
                <div class="col-xs-4">
                    <input class='form-control' type='text' id='second'/>
                </div>
                <div class="col-xs-4">
                </div>
            </div>
            <br>

            <div class="row hide_in_label">
                <div class="col-xs-1">
                    <button class="btn btn-primary labelTable" id="btn" type="button" onclick="addRow('', '#labelTable')">+ Add
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="labelTable"
                                   class="table table-striped table-condensed table-hover btable labelTable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Label</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Freeform">
            <div id = "table-error">
            </div>
            <div class="row hide_in_label">
                <div class="labelTable">
                    <div class="col-xs-1">
                        <button class="btn btn-primary labelTable" id="btn" type="button"
                                onclick="addRow('', '#labelTable')">+ Add
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-primary" id="btn" type="button" onclick="addRow('', '#table')">+ Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="labelTable"
                                   class="table table-striped table-condensed table-hover btable labelTable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Label</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="table" class="table table-striped table-condensed table-hover btable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Type</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Value</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                         data-target="#collapseOne">
                        <h4 class="panel-title">
                            <a>
                                Maintain Questions <b class="caret"></b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <input type="text" class="form-control" id="search" placeholder="Search">
                            <div class='table-responsive'>
                                <table id='questionList'>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
