{% extends "peer_review/base.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title xmlns="http://www.w3.org/1999/html">Questionnaire Admin</title>

    <script src="{% static "peer_review/search.js" %}"></script>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script src="{% static "peer_review/js/tinymce/tinymce.min.js" %}"></script>

    <script type="text/javascript">
    /* Todo:
    * Fix the order of questions saving/loading
    * Fix that only one page of questions gets saved
    */
        //TinyMCE html editor from https://www.tinymce.com/
        var currentlyEditing = -1;
        function makeOneRowSelectable(table, dataTable) {
            table.find('tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    dataTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        }

        function resizeTableColumns(table) {
            table.find('tr').each(function () {
                $(this).find('input[type="text"]').each(function () {
                    $(this).attr('size', $(this).val().length);
                });
            });
        }

        function updateQuestionnaireList() {
            var table = $('#questionnaireList').DataTable();
            table.clear();
            
            $.ajax({
                url: '/questionnaireAdmin/getQuestionnaireList/',
                type: "GET",
                success: function (data) {
                    console.log(data);
                    var content = [];
                    for (var x = 0; x < data.labels.length; x++)
                        content.push({"label": data.labels[x], "DT_RowId": data.ids[x]});
                    table.rows.add(content).draw();

                },
                failure: function () {console.log("Failure");}
            });
        }

        function editQuestionnaire(pk) {
            currentlyEditing = pk;
            var $table = $('#questionnaireTable').DataTable();
            $table.clear();
            $.ajax({
                url: '/questionnaireAdmin/getQuestionnaire/' + pk,
                type: 'GET',
                success: function(data) {
                    tinyMCE.get('intro').setContent(data.intro);
                    $('#label').val(data.label);

                    contents = [];
                    for (var x = 0; x < data.questionLabels.length; x++) {
                        contents.push({'label': data.questionLabels[x],
                                       'pubdate': data.questionPubDates[x],
                                       'type': data.questionTypes[x],
                                       'grouping': data.questionGroupings[x],
                                       'DT_RowId': data.questionIds[x]
                                       });

                    }
                    $table.rows.add(contents).draw();
                    window.scrollTo(0,0);
                }
            })
        }

        function deleteQuestionnaire(pk) {
            console.log(pk);
            var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
            $.ajax({
                url: "/questionnaireAdmin/deleteQuestionnaire/" + pk,
                type: "POST",
                data: {'csrfmiddlewaretoken' : token},
                success: function() {
                    //Success message
                    $('#save-success').html('<div class="alert alert-success">Questionnaire successfully deleted</div>');

                    //Make the alert box disappear after 5 seconds
                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 5000);   
                    updateQuestionnaireList();                 
                }

            })

        }

        function submitQuestionnaire() {
            label = $("#label").val();
            if (label.length > 300)
                return;

            if (label == '') {
                $('#label-error').html('<div class="alert alert-danger fade in">Label is required</div>');
                window.scrollTo(0, 0);
                return;
            } 

            var table = $('#questionnaireTable').DataTable();
            var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
            var intro = tinyMCE.get('intro').getContent();
            var label = $('#label').val();
            var json = {"questionOrders":[], intro: intro, label: label, 'csrfmiddlewaretoken': token };
            table.rows().invalidate('dom');
            $('#questionnaireTable > tbody > tr').each( function (index, value) {
                var id = $(this).attr('id');
                json["questionOrders"].push(id);
            });
            /*table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var id = this.node().id;
                json["questionOrders"].push(id);
                console.log(this.index());
            });*/
            console.log(json.questionOrders);
            if (currentlyEditing != -1) {
                json.pk = currentlyEditing;
            }

            $.ajax({
                url: '/questionnaireAdmin/saveQuestionnaire/',
                data: json,
                type: "POST",
                success: function () {
                    //Success message
                    $('#save-success').html('<div class="alert alert-success">Questionnaire successfully saved</div>');

                    //Make the alert box disappear after 5 seconds
                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                },
                failure: function () {console.log("Failure");}
            });

            //Clear page
            $("#label").val([]);
            //$("#intro").val([]);
            tinyMCE.get('intro').setContent('');
            table.clear().draw();
            window.scrollTo(0, 0);

            updateQuestionnaireList();
        }

        // @todo refactor or something
        var upArrow = '<a class="move up" href="javascript:void(0)" title="move up">' +
                '<span class="glyphicon glyphicon-arrow-up"></span>' +
                '</a>';

        var downArrow = '<a class="move down" href="javascript:void(0)" title="move down">' +
                '<span class="glyphicon glyphicon-arrow-down"></span>' +
                '</a>';

        $(document).ready(function () {
            tinymce.init({ selector:'#intro',
            statusbar: false, 
            menubar: '',
            plugins: "emoticons",
            toolbar: 'undo redo bold italiclignleft aligncenter alignright bullist numlist outdent indent styleselect fontsizeselect emoticons a', });

            $('.table').on("click", '.move', function () {
                var row = $(this).closest('tr');
                if ($(this).hasClass('up'))
                    row.prev().before(row);
                else
                    row.next().after(row);
            });
            
            $('#search').keyup(function () {
                t = $('#questionnaireList').DataTable();
                t.search($('#search').val()).draw();
            });

            var questionTable = $("#questionTable");
            resizeTableColumns(questionTable);

            var dTableQuestion = questionTable.DataTable({
                "orderClasses": false,
                "columnDefs": [{
                    "orderable": false,
                    "searchable": false,
                    "render": function (data, type, full, meta) {
                        return "<div class=\"addQuestion button\" '><span class=\"glyphicon glyphicon-chevron-right\"></span></div>"
                    },
                    "targets": [4]
                }]
            });
                                       /* 'label': data.questionLabels[x],
                                       'pubdate': data.questionPubDates[x],
                                       'type': data.questionTypes[x],
                                       'grouping': data.questionGroupings[x],*/
            var questionnaireTable = $("#questionnaireTable");
            var dTableQuestionnaire = questionnaireTable.DataTable({
                "orderClasses": false,
                "order": [], // No initial sorting
                "bFilter": false,
                "columnDefs": [
                    {
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return upArrow + downArrow;
                        },
                        "targets": [4],
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return "<div class=\"removeQuestion button\" '><span class=\"glyphicon glyphicon-remove-circle\"></span></div>"
                        },
                        "targets": [5]
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "targets": [0, 1, 2, 3]
                    }
                ],
                "columns": [
                    {
                        title: "Question",
                        data: "label"
                    },
                    {
                        title: "Publish Date",
                        data: "pubdate"
                    },
                    {
                        title: "Question Type",
                        data: "type"
                    },
                    {
                        title: "Grouping",
                        data: "grouping"
                    },
                    {
                        title: ""
                    },
                    {
                        title: ""
                    }]
            });
            dTableQuestionnaire.columns.orderable = false;

            makeOneRowSelectable(questionTable, dTableQuestion);
            makeOneRowSelectable(questionnaireTable, dTableQuestionnaire);


            {#            $('#button').click( function () {#}
            {#                alert( table.rows('.selected').data().length +' row(s) selected' );#}
            {#            } );#}

            var moveable = $(".moveable tbody");
            moveable.on('click', 'div.addQuestion', function () {
                var tr = $(this).closest('tr').clone(); // Deep copy
                dTableQuestionnaire.row.add(tr).draw();
            });

            moveable.on('click', 'div.removeQuestion', function () {
                var tr = $(this).closest('tr');
                dTableQuestionnaire.row(tr).remove().draw();
                {#                users.row.add(tr).draw();#}
            });

            $('#label').keyup(function() {
                label = $('#label').val();

                if (label.length > 300) {
                    $('#label-error').html("<div class=\"alert alert-danger fade in\">Label must be less than 300 characters</div>");
                } 
                else {
                    $('#label-error').html('');
                }
            });

            $('#questionnaireList').DataTable({                
                columnDefs: [{
                    title: "Questionnaire Label",
                    data: "label", 
                    targets: [0],
                    orderable: false,
                },
                {
                    title: "",
                    orderable: false,
                    searchable: false,
                    render: function (data, type, row, meta) {
                            return "<div align = \"right\"><button class=\"btn btn-success btn-xs\" type = \"button\" onclick = \"editQuestionnaire(" + "\'" + row.DT_RowId + "\'" + ")\">Edit</button>"
                            + "<button class=\"btn btn-warning btn-xs\" type = \"button\" onclick = \"deleteQuestionnaire(" + "\'" + row.DT_RowId + "\'" + ")\">Delete</button></div>";
                        },
                    targets: [1],
                }],
                dom: 't'                
            });
            updateQuestionnaireList();
        });
    </script>
    <!--Edit navbar active-->
    <script>
        title = "questionnaireAdmin";
    </script>
    <!--end-->
{% endblock %}
{% block context %}
    <div class="container">
        <div class="panel-group" id="accordion">
            <div id = "save-success"></div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                     data-target="#collapseOne">
                    <h4 class="panel-title">
                        <a>
                            1. Make a header/introduction <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <label for="label">Label</label>
                        <input id="label" class="form-control" value="">
                        <div id = "label-error"></div>
                        <br/>
                        <label for="intro">Introduction</label>
                        <input id="intro" class = "form-control" value="">
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                 data-target="#collapseTwo">
                <h4 class="panel-title">
                    <a>
                        2. Choose questions<b class="caret"></b>
                    </a>
                </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class='table moveable' id='questionTable'>
                                <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Publish Date</th>
                                    <th>Question Type</th>
                                    <th>Grouping</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for question in questions %}
                                    <tr id="{{ question.pk }}">
                                        {% csrf_token %}
                                        <td>{{ question.questionLabel }}</td>
                                        <td>{{ question.pubDate }}</td>
                                        <td>{{ question.questionType.name }}</td>
                                        <td>{{ question.questionGrouping.grouping }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table id="questionnaireTable" class="table moveable">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                 data-target="#collapseThree">
                <h4 class="panel-title">
                    <a>
                        Maintain Questionnaires<b class="caret"></b>
                    </a>
                </h4>
            </div>

            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <input type="text" class="form-control" id="search" placeholder="Search">
                    <br/>
                    <div class='table-responsive'>
                        <table id = "questionnaireList">
                            <thead>
                                <tr>
                                    <th>Questionnaire Label</th>
                                    <th>-</th>
                                </tr>
                            </thead>
                        </table> 
                    </div>                           
                </div>
            </div>
        </div>
        <button onclick="submitQuestionnaire();" class="btn btn-primary">Submit</button>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">&copy; Pinocchio Team</p>
            <a class="navbar-btn btn-danger btn pull-right" href="/admin/logout">Log Out</a>
        </div>
    </div>
{% endblock %}