{% extends "peer_review/base.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title xmlns="http://www.w3.org/1999/html">Questionnaire</title>
    <script src="{% static "peer_review/jquery.min.js" %}"></script>
    <script src="{% static "peer_review/js/bootstrap-slider.js" %}"></script>
    <link rel="stylesheet" href="{% static "peer_review/css/slider.css" %}">
    <!--<script src="{% static "peer_review/js/tinymce/tinymce.min.js" %}"></script>-->

    <script src="{% static "peer_review/js/tinymce/tinymce.min.js" %}"></script>
    <script>
        //Edit navbar active
        title = "questionnaire";
        //Variables used for saving
        var roundPk = "{{ round }}";
        var saveFunctions = [];
        //Gets the responses to a question
        //Parameters are the question id, and a function that handles the responses (Loading them into inputs or whatever)
        function getResponses(questionPk, funct) {
            $.ajax({
                url: "/questionnaire/getResponses/",
                data: {'questionPk': questionPk, 'roundPk': roundPk},
                success: function (data) {
                    funct(data);
                },
                failure: function () {
                }
            })
        }
    </script>
{% endblock %}
{% block context %}
    {% csrf_token %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ questionnaire.intro|safe }}
            </div>
            {% for q in questionOrders %}
                <div id="{{ q.question.id }}" class="panel-body">
                    {# Label #}
                    {% ifequal q.question.questionType.name 'Label' %}
                        {% include "peer_review/questions/labelQuestion.html" with number=q.order grouping=q.questionGrouping.grouping %}
                    {% endifequal %}
                    {# Rate #}
                    {% ifequal q.question.questionType.name 'Rate' %}
                        {% include "peer_review/questions/rateQuestion.html" with number=q.order grouping=q.questionGrouping.grouping %}
                    {% endifequal %}
                    {# Rank #}
                    {% ifequal q.question.questionType.name 'Rank' %}
                        {% include "peer_review/questions/rankQuestion.html"  with number=q.order grouping=q.questionGrouping.grouping %}
                    {% endifequal %}
                    {# Choice #}
                    {% ifequal q.question.questionType.name 'Choice' %}
                        {% include "peer_review/questions/choiceQuestion.html"  with number=q.order  grouping=q.questionGrouping.grouping %}
                    {% endifequal %}
                    {# Freeform #}
                    {% ifequal q.question.questionType.name 'Freeform' %}
                        {% include "peer_review/questions/freeformQuestion.html"  with number=q.order grouping=q.questionGrouping.grouping %}
                    {% endifequal %}
                    <hr/>
                </div>
            {% endfor %}
            {% if not preview %}
            <div class="panel-body">
                <div>
                    <button class='btn btn-success' onclick="saveProgress()">Save Progress</button><br>
                </div>
                <div id="results">
                        {# The success or failure message will display here #}
                </div>
            </div>
            {% else %}
                <div class="panel-body">
                    <button class='btn btn-primary pull-right' onclick="exitPreview()">Close Preview</button>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            tinymce.init({ selector:'.tinymce',
                statusbar: false,
                menubar: '',
                plugins: "emoticons",
                toolbar: 'undo redo bold italiclignleft aligncenter alignright bullist numlist outdent indent styleselect fontsizeselect emoticons image a'});

            //Enables moving the labels in a rank question
            $('.rankTable').on("click", '.move', function () {
                var row = $(this).closest('tr');
                if ($(this).hasClass('up'))
                    row.prev().before(row);
                else
                    row.next().after(row);
            });
        });
        //Save each question
        function saveProgress() {
            for (var x = 0; x < saveFunctions.length; x++)
                saveFunctions[x]();
        }

        function exitPreview() {
            window.close();
        }

        //Tell the user whether the save succeeded or failed.
        function showFailure(failed){
            if (failed)
            //Show failure message
                $('#results').html('<span class="alert alert-danger">Error: One or more answers failed to save</span>');
            else
            //Show success message
                $('#results').html('<span class="alert alert-success">Progress successfully saved!</span>');
            window.location= "#";
            //Make the alert box disappear after 5 seconds
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0, function () {
                    $(this).remove();
                });
            }, 5000);
        }


        {% if not preview %}

        function showSuccessMessage(failed) {
            if (failed)
            //Show failure message
                $('#results').html('<span class="alert alert-danger">Error: One or more answers failed to save</span>');
            else
            //Show success message
                $('#results').html('<span class="alert alert-success">Progress successfully saved!</span>');
            //Make the alert box disappear after 5 seconds
            /*window.setTimeout(function () {
                $(".alert").fadeTo(500, 0, function () {
                    $(this).remove();
                });
            }, 5000);*/
        }

        //Sends the data to the view to be processed. Parameter data needs to be an object with fields:
        //  questionPk : The id of the question.
        //  roundPk : The id of the round.
        //  label : The id of the label (In the case of Label grouping).
        //  subjectUser : The id of the subject user (In the case of Rest or All groupings).
        //  answer : The answer to the question
        function sendToView(data) {
            var failed = false;
            data.csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').prop('value');
            // console.log('saving');
            $.ajax({
                url: "/questionnaire/saveProgress/",
                type: "POST",
                data: data,
                success: function (data) {
                    if (data.result === 1)
                        failed = true;
                    showSuccessMessage(failed);
                },
                failure: function () {
                    showSuccessMessage(true);
                },
                error: function () {
                    showSuccessMessage(true);
                }
            });
        }
        {% endif %}
    </script>
{% endblock %}
