{% extends "peer_review/baseAdmin.html" %}
{% comment %}
Todo:
    Search question lists
{% endcomment %}
{% load staticfiles %}

{% block extrahead %}
    <script src="{% static "peer_review/js/tinymce/tinymce.min.js" %}"></script>
    <title>Questionnaire Admin</title>
    <script>
        var title="questionnaireAdmin";
    </script>

{% endblock %}

{% block context %}
    <div class = "container">
        {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
            {% endfor %}
        {% endif %}
        <div class = "panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Create Questionnaire</h4>
            </div>
            <div class="panel-body">
                <form onsubmit="return save()" onreset="empty()" id = "form-save" method="POST" action="/questionnaireAdmin/save">
                    {% csrf_token %}
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Enter title" value="{{questionnaire.label}}" required>
                    <br/>
                    <label for="intro">Introduction</label>
                    <input id="intro" class = "form-control" value="{{ questionnaire.intro }}" name="intro">
                    <br/>
                    <label for="select-questions">Select Questions</label>
                    <div class="row" id = "select-questions">
                        <div class="col-md-6">
                            <small class="text-muted">Click the <span class="glyphicon glyphicon glyphicon-plus-sign text-primary"></span> icon to add questions to the questionnaire.</small>
                            <table class='table moveable' id='question-table'>
                                <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Question Type</th>
                                        <th>Grouping</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for question in questions %}
                                    <tr id="{{ question.pk }}">
                                        <td class="question-label">{{ question.questionLabel }}</td>
                                        <td class="question-type">{{ question.questionType.name }}</td>
                                        <td class="question-grouping">{{ question.questionGrouping.grouping }}</td>
                                        <td>
                                            <span onclick="addQuestion(this)" class="glyphicon glyphicon glyphicon-plus-sign text-primary pull-right"  style="cursor:pointer"></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <small class="text-muted">Click the <span class="glyphicon glyphicon glyphicon-minus-sign text-primary"></span> icon to remove questions from the questionnaire.</small>
                            <table id="selected-questions" class="table moveable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Question</th>
                                        <th>Question Type</th>
                                        <th>Grouping</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for question in questionOrders %}
                                        <tr id = "{{ question.question.pk }}">
                                            <td>
                                                <span onclick="moveRow(this)" class="glyphicon glyphicon glyphicon-arrow-up text-primary pull-left"  style="cursor:pointer"></span>
                                                <span onclick="moveRow(this)" class="glyphicon glyphicon glyphicon-arrow-down text-primary pull-left"  style="cursor:pointer"></span>
                                            </td>
                                            <td class = "question-label">{{ question.question.questionLabel }}</td>
                                            <td class = "question-type">{{ question.question.questionType.name }}</td>
                                            <td class = "question-grouping">{{ question.question.questionGrouping.grouping }}</td>
                                            <td>
                                                <span onclick="removeQuestion(this)" class="glyphicon glyphicon glyphicon-minus-sign text-primary pull-right"  style="cursor:pointer"></span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br/>
                    <input type="hidden" name="questions" id = "questions"> 
                    {% if questionnaire %}
                        <input type="hidden" name="pk" value="{{ questionnaire.pk }}">                
                    {% endif %}
                    <button type="submit" class = "btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        Submit
                    </button>
                    <button type="reset" class = "btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                        {% if questionnaire %}
                        Cancel Edit
                        {% else %}
                            Clear
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
        <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                        <h4 class="panel-title">
                            Maintain Questionnaires <b class="caret"></b>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <input type="text" class="form-control" id="search" placeholder="Start typing to search">
                            <small class = "text-muted">Click the <span class="glyphicon glyphicon glyphicon-pencil text-primary"></span> icon to edit questionnaires, and the <span class="glyphicon glyphicon glyphicon-remove-circle text-primary"></span> icon to remove questionnaires.</small>
                        </div>
                        <table id = "questionnaire-list" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>
                                        Number of Questions
                                        <span id="delete-many" style = "cursor: pointer" onclick = "deleteMany()" class="glyphicon glyphicon glyphicon-remove-circle pull-right text-primary"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for questionnaire in questionnaires %}
                                    <tr
                                        {% if questionnaire.inARound  %} title="This questionnaire is in a round and cannot be deleted."
                                        {% else %} class = "deleteable" 
                                        {% endif %}
                                        id = "{{ questionnaire.pk }}"
                                    >
                                        <td>
                                            {{ questionnaire.title }}
                                        </td>
                                        <td>
                                            {{ questionnaire.questionOrders.count }}
                                            {% if questionnaire.inARound %}
                                                <span class="glyphicon glyphicon glyphicon-remove-circle pull-right text-muted"></span>
                                            {% else %}
                                                <span style = "cursor: pointer" onclick = "deleteQuestionnaire('{{questionnaire.pk}}')" class="glyphicon glyphicon glyphicon-remove-circle pull-right text-primary"></span>
                                            {% endif %}
                                            <span style = "cursor: pointer" onclick = "edit('{{questionnaire.pk}}')" class="glyphicon glyphicon glyphicon glyphicon-pencil pull-right text-primary">&nbsp</span>
                                        </td>
                                    </tr>   
                                {% endfor %}
                            </tbody>
                        </table> 
                        <form id = "form-delete" action = "/questionnaireAdmin/delete" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name = "pk" id = "questionnaire-pk">
                        </form>   
                    </div>
                </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            tinymce.init({ selector:'#intro',
            statusbar: false, 
            menubar: '',
            plugins: "emoticons",
            toolbar: 'undo redo bold italiclignleft aligncenter alignright bullist numlist outdent indent styleselect fontsizeselect emoticons a', });
            //Hide alerts
            setTimeout(function() {
                $('.alert').hide(100);
            }, 10000);
            //Todo: Search the other columns as well
            $("#search").keyup(function() {
                var value = this.value;
                $("#questionnaire-list").find("tr").each(function(index) {
                    if (!index) return;
                    var id = $(this).find("td").first().text();
                    $(this).toggle(id.toLowerCase().indexOf(value.toLowerCase()) !== -1);
                });
            });

            //Allows selecting of questions to delete multiple questions
            $('#delete-many').hide();
            $('#questionnaire-list').on('click', '.deleteable', function(event) {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active')
                } else {
                    $(this).addClass('active')
                }   
                if ($('#questionnaire-list').find('.active').length > 0) {
                    $('#delete-many').show(100);
                } else {
                    $('#delete-many').hide(100);                    
                }

            });
        });

        function moveRow(el) {
            var row = $(el).closest('tr');
            if ($(el).hasClass('glyphicon-arrow-up'))
                row.prev().before(row);
            else if ($(el).hasClass('glyphicon-arrow-down'))
                row.next().after(row);
        }

        function addQuestion(el) {              
            if ($(el).hasClass('text-primary')) {
                var row = $(el).closest('tr'); 
                var tr = $('<tr id = "'+row.attr('id')+'"></tr>');
                tr.append('<td><span onclick="moveRow(this)" class="glyphicon glyphicon glyphicon-arrow-up text-primary pull-left"  style="cursor:pointer"></span><span onclick="moveRow(this)" class="glyphicon glyphicon glyphicon-arrow-down text-primary pull-left"  style="cursor:pointer"></span></td>');
                tr.append('<td class="question-label">'+row.find('.question-label').html()+'</td>');
                tr.append('<td>'+row.find('.question-type').html()+'</td>');
                tr.append('<td>'+row.find('.question-grouping').html()+'</td>');
                tr.append('<td><span onclick="removeQuestion(this)" class="glyphicon glyphicon glyphicon-minus-sign text-primary pull-right"  style="cursor:pointer"></span></td>');
                $('#selected-questions').append(tr);
                //To ensure only one of each question in questionnaire
                // $(el).removeClass('text-primary').addClass('text-muted');
            }
        }

        function removeQuestion(el) {
            //To ensure one of each question in questionnaire
            // $('#question-table > tbody > tr:contains("'+$(el).closest('tr').find('.question-label').html()+'")').find('span.glyphicon-plus-sign').addClass('text-primary').removeClass('text-muted');
            $(el).closest('tr').remove();
        }

        function edit(pk) {
            window.location = '/questionnaireAdmin/edit/'+pk;
        }

        function deleteQuestionnaire(pk) {
            $('#questionnaire-pk').val(pk);
            $('#form-delete').submit();
        }

        function deleteMany() {
            var pks = "";
            $('#questionnaire-list > tbody > tr.active').each(function(i, el) {
                pks += el.id + ';#';
            });
            $('#questionnaire-pk').val(pks.slice(0, -2));
            $('#form-delete').submit();
        }

        function save() {
            var questions = "";
            $('#selected-questions > tbody > tr').each(function(i, el) {
                questions += el.id + ';#';
            });
            $('#questions').val(questions);
        }

        function empty() {
            {% if questionnaire %}
                window.location = '/questionnaireAdmin/';
            {% endif %}
            $('#selected-questions > tbody').empty();
        }
    </script>
{% endblock %}