{% extends "peer_review/baseAdmin.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Create Question</title>

    <script type="text/javascript" src="{% static "peer_review/js/stacking.js" %}"></script>
    <script type="text/javascript" src="{% static "peer_review/js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">
        /**Todo**
        
        */
        var MAX_CHOICES = 7;

        var currentlyEditing = -1;
        $(document).ready(function () {
            addOnSubmitHandler();
            selected();
            initialiseStacking();
            $('#questionList').DataTable( {
                //Add 'edit' and 'delete' buttons to each row added to table
                /*"fnCreatedRow": function(row, data, index) {
                    $(row).append('<td><button class="btn btn-success btn-xs" type = "button" onclick = "editQuestion(' + "'" + data[0] + "'" + ')">Edit</button>  '
                    +'<button type="button" class="btn btn-warning btn-xs" onclick = "deleteQuestion(' + "'" + data[0] + "'" + ')">Delete</button></td>');
                },*/
                columnDefs: [
                {
                    title: "Label",
                    data: "label",
                    targets: [0]
                },
                {
                    title: "Publish Date",
                    data: "pubdate",
                    targets: [1],
                },
                {
                    title: "Type",
                    data: "type",
                    targets: [2]
                },
                {
                    title: "Grouping",
                    data: "grouping",
                    targets: [3]
                },
                {
                    title: "",
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                            return "<div align = \"right\"><button class=\"btn btn-success btn-xs\" type = \"button\" onclick = \"editQuestion(" + "\'" + row.DT_RowId + "\'" + ")\">Edit</button>"
                            + "<button class=\"btn btn-warning btn-xs\" type = \"button\" onclick = \"deleteQuestion(" + "\'" + row.DT_RowId + "\'" + ")\">Delete</button></div>";
                        },
                    targets: [4]
                }],
                "bPaginate": false,
                "sDom" : "t",
               }); 
            updateQuestionList();

            $('#search').keyup(function () {
                t = $('#questionList').DataTable();
                t.search($('#search').val()).draw();
            })

            $('#questionLabel').keyup(function() {
                qLabel = $('#questionLabel').val();

                if (questionExists(qLabel)) {
                    $('#question-label-error').html('<div class="alert alert-danger fade in">Question label must be unique</div>');
                }
                else if (qLabel.length > 300) {
                    $('#question-label-error').html('<div class="alert alert-danger fade in">Question label must be less than 300 characters</div>');
                } 
                else {
                    $('#question-label-error').html('');
                }
            })                      
        });

        function addOnSubmitHandler() {
            $('#questionForm').on('submit', function (event) {
                event.preventDefault();
            });
        }

        function questionExists(label)
        {
            //Of course the question exists if it's being edited
            if (currentlyEditing != -1)
                return false;

            var table = $('#questionList').DataTable();             
            var index = table.column(0).data().indexOf(label);
            if (index < 0)
                return false
            else
                return true;
        }

        function saveSuccess(message) {
            //Show success alertbox thingy
            $('#results').html('<div class="alert alert-success">' + message + '</div>');

            //Make the alert box disappear after 5 seconds
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);

            clearPage();

            //For some reason it needs to wait before refreshing the list.
            //Only for deleting questions though.
            setTimeout(function(){
                updateQuestionList();
            }, 100);
        }

        function changeGrouping() {
            //Shows the label table if the grouping is changed to 'label'
            if ($('#grouping').val() === 'Label') {
                $('#labelTable').parent().parent().parent().fadeIn();
                $('.labelTable').fadeIn();
            } else {
                $('#labelTable').parent().parent().parent().fadeOut();
                $('.labelTable').fadeOut();
            }

        }

        function selected() {
            var value = document.getElementById("type").value;
            document.getElementById("typeDisplay").innerHTML = document.getElementById(value).innerHTML;
            initialiseStacking();
            changeGrouping();

            $('#grouping').prop('disabled', true);

            //Remove 'None' from the grouping dropdown if type is 'Rank'
            if ($('#type').val() == 'Rank') {
                $("#grouping option[value='None']").remove();
                var rowCount = $('#labelTable > tbody > tr').length;
                console.log(rowCount);
                if (rowCount == 1) {
                    addRow('', '#labelTable');
                } else if (rowCount == 0) {
                    addRow('', '#labelTable');
                    addRow('', '#labelTable');
                }
            } 
            else {
                //Check if 'None' grouping is in the dropdown
                if (0 == $('#grouping option[value="None"]').length)
                {
                    //Re-add 'None' to the dropdown
                    $('#grouping').prepend($('<option value="None">None</option>'));
                }
            }

            if ($('#type').val() == 'Label') {
                $('#grouping').val('None');
                $('#grouping').prop('disabled', true);
            }
            else {
                $('#grouping').prop('disabled', false);
            }

            if ($('#type').val() == 'Rank')
                $('#add').hide();
            else
                $('#add').show();

        }

        function cancel()
        {
            if (currentlyEditing != -1)
                $("#cancelButton").html('Clear');
            currentlyEditing = -1;
            clearPage();
        }

        function clearPage()
        {
            //Remove items from the choice table
            $("#table").find("tr:gt(0)").remove();

            //Clear inputs
            $('#question').val([]);
            $('#questionLabel').val([]);
            $('#type').val('Label');
            $('#grouping').val('None');
            currentlyEditing = -1;
            selected();

            $("#type").prop("disabled", false);
            $('#table-error').html('');
            $('#question-label-error').html('');
        }

        function getLabels() {
            var labels = [];

            $('#labelTable > tbody > tr').each( function (index, value) {
                label = $(this).find('#choice').val();
                labels.push(label);
            });  
            return labels;
        }

        function getChoices() {
            var choices = [];

            $('#table > tbody > tr').each(function (index, value) {
                choice = $(this).find('#choice').val();
                if (choice != '')
                    choices.push(choice);
            });

            return choices;
        }

        //Html snippets used to add new rows to tables
        var upArrow = '<td style="text-align: center; width: 20px;">' +
                '<a class="move up" href="javascript:void(0)" title="move up">' +
                '<span class="glyphicon glyphicon-arrow-up"></span>' +
                '</a>' +
                '</td>';

        var downArrow = '<td style="text-align: center; width: 20px; ">' +
                '<a class="move down" href="javascript:void(0)" title="move down">' +
                '<span class="glyphicon glyphicon-arrow-down"></span>' +
                '</a>' +
                '</td>';

        function numberBox(number)
        { 
            return '<td style="text-align: center; width: 10px;">' +
                   '<input type="number" class="noBorder" id="scale" style="text-align: center;"" value = "' + number + '"/>' +
                   '</td>';
        }

        var removeButton = '<td style="text-align: center; width: 20px; ">' +
                '<a class="remove" href="javascript:void(0)">' +
                '<span class="glyphicon glyphicon-minus"></span>' +
                '</a>' +
                '</td>';

        //Fetches question details from database
        function editQuestion(pk) {
            clearPage();
            currentlyEditing = pk;
            $("#type").prop("disabled", true);
            $("#cancelButton").html('Cancel');

            //Query question details from db
            $.ajax({
                url: '/questionAdmin/getQuestion/' + pk,
                success: function (data) {populateQuestionFields(data, pk);},
                failure: function () {alert('Error during reading in question details');}
            });

            //Go to top of page
            window.scrollTo(0, 0);
        }

        //Populates question fields
        function populateQuestionFields(data, pk)
        {
            $('#questionLabel').val(data.questionLabel);
            $('#question').val(data.questionText);
            $('#type').val(data.questionType);
            $('#grouping').val(data.questionGrouping);
            selected();

            if (data.questionGrouping == "Label")
            {
                for (var x = 0; x < data.labels.length; x++)
                {
                    addRow(data.labels[x], '#labelTable');
                }
            }

            switch (data.questionType) {
                case 'Choice':
                    $.ajax({
                        url: '/questionAdmin/getChoices/' + pk,                 
                        success: function (data) 
                        {
                            for (var c in data)
                            {
                                if (data.hasOwnProperty(c))
                                {
                                    addRow(data[c], '#table');
                                }
                            }
                        },
                        failure: function () {alert('Error occurred in querying the choice items');}
                    })
                    break;
                case 'Rate':
                    $.ajax({
                        url: '/questionAdmin/getRates/' + pk,                  
                        success: function (data) 
                        {
                            $('#rateTop').val(data.topWord);
                            $('#rateBottom').val(data.bottomWord);
                            $('#rateOptional').attr('checked', data.optional);
                        },
                        failure: function () {alert('Error occurred in querying the rate item');}
                    })
                    break;
                case 'Freeform':
                    $.ajax({
                        url: '/questionAdmin/getFreeformItems/' + pk,
                        success: function(data) {
                            $('#freeformType').val(data.freeformType);
                        },
                        failure: function () {alert('Error occurred in querying the freeform item');}
                    });
                    break;
                case "Rank":
                    $.ajax({
                        url: '/questionAdmin/getRank/' + pk,
                        success: function(data) {
                            $('#first').val(data.firstWord);
                            $('#second').val(data.secondWord);
                        },
                        failure: function () {alert('Error occurred in querying the rank item');}
                    });
                default:
                    break;
            }         
        }

        //Update the question list
        function updateQuestionList()
        {
            console.log("Updating question list");
            $.ajax({
                url: '/questionAdmin/getQuestionList/',
                type: 'get',
                success: function(data) {
                    var contents = [];
                    for (var i = 0; i < data.labels.length; i++)
                    {
                        contents.push({
                                      'label': data.labels[i],
                                      'pubdate': data.publishDates[i].substring(0, 10), 
                                      'type': data.types[i], 
                                      'grouping': data.groupings[i],
                                      'DT_RowId': data.ids[i]})
                    }
                    console.log(contents);
                    t = $('#questionList').DataTable();
                    t.clear();
                    t.rows.add(contents).draw();
                },
                failure: function () {alert('Error occurred in querying the question list');}                   
            })
        }

        function textBox(text) {
            return '<td style="text-align: center; ">' +
                    '<input type="text" class="noBorder" id="choice" value="' +
                    text +
                    '" style="text-align: center; "/>' +
                    '</td>';
        }

        function addRow(text, selector) {
            $table = $(selector);
            if (selector != '#labelTable') {
                var rowCount = $('#table > tbody > tr').length;
                console.log(rowCount);
                if (rowCount >= MAX_CHOICES && $('#grouping').val() in {'Rest':1, 'All':1, 'Label':1}) {
                    $('#table-error').html("<div class=\"alert alert-danger\">No more than " + MAX_CHOICES + " choices allowed in \'" + $('#grouping').val() + "\' grouping. Change to grouping \'None\' to add more.</div>");
                    return;    
                } else {
                    $table.append('<tr>' + textBox(text) + upArrow + downArrow + removeButton + '</tr>');
                    $('#table-error').html("");
                }
            } else {
                $('#table-error').html('');
                $table.append('<tr>' + textBox(text) + upArrow + downArrow + removeButton + '</tr>');
            }

        }

        function createJson() {
            var data = {
                question: $('#question').val(),
                questionType: $('#type').val(),
                questionLabel: $('#questionLabel').val(),
                grouping: $('#grouping').val(),
            };

            if (currentlyEditing != -1) {
                data.pk = currentlyEditing;
                currentlyEditing = -1;
            }

            if ($('#grouping').val() === 'Label')
                data.labelArr = getLabels();

            switch ($('#type').val()) {
                case 'Choice':
                    data.choices = getChoices()
                    break;
                case 'Rank':
                    data.firstWord = $('#first').val();
                    data.secondWord = $('#second').val();
                    break;
                case 'Label':
                    data.grouping = 'None';
                    break;
                case 'Rate':
                    data.topWord = $('#rateTop').val();
                    data.bottomWord = $('#rateBottom').val();
                    data.optional = $('#rateOptional').is(':checked');
                    break;
                case 'Freeform':
                    data.freeformType = $('#freeformType').val()
                    break;
            }

            console.log(data);
            return data;
        }

        function deleteQuestion(pk)
        {
            var r = confirm("Delete this question?");
            if (!r)
                return;

            var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
            $.ajax({
                    url: "/questionAdmin/delete/" + pk,
                    type: "POST",
                    //csrf token is sent with the ajax call
                    data: {'csrfmiddlewaretoken': token},
                    //For some reason this doesn't wait until the question is deleted
                    success: saveSuccess('Question was deleted successfully.'),
                    failure: function () {alert('Error occurred in question deletion');} 
                });          
        }

        // AJAX for posting
        function create_post() {  

            //Validation
            var qLabel = $('#questionLabel').val();
            if (qLabel == '') {
                $('#question-label-error').html('<div class="alert alert-danger">This is a required field</div>');
                window.scrollTo(0,0);
                return;
            }
            if (qLabel.length > 300 || questionExists(qLabel))
            {
                return;
            }
            var rowCount = $('#table > tbody > tr').length;
            if ($('#type').val() == 'Choice' && rowCount < 1) {
                $('#table-error').html('<div class="alert alert-danger">You need to add some items</div>');
                window.scrollTo(0,0);
                return;
            }

            if (rowCount >= MAX_CHOICES && $('#grouping').val() in {'Rest':1, 'All':1, 'Label':1} && $('#type').val() == 'Choice') {
                $('#table-error').html("<div class=\"alert alert-danger\">No more than " + MAX_CHOICES + " choices allowed in \'" + $('#grouping').val() + "\' grouping. Change to grouping \'None\' to add more.</div>");
                window.scrollTo(0,0);
                return;
            }

            var data = createJson();
            var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
            data.csrfmiddlewaretoken = token;
            $.ajax({
                url: "/createQuestion/", // the endpoint
                type: "POST", // http method
                data: data, // data sent with the post request
                success: saveSuccess('Question was saved successfully.'),
                failure: function () {alert('Error occurred in saving the question');}
                });
        };

    </script>
    <!--Edit navbar active-->
    <script>
        title = "questionAdmin";
    </script>
    <!--end-->
{% endblock %}

{% block context %}
    <div class="container" id="content">
        <div class="panel panel-default">
            <div id="results">
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <b>Create Question</b>
                </h4>
            </div>
            <div class="panel-body">
                <form role="form" id="questionForm" action="/createQuestion/" method="GET">
                    {% csrf_token %}
                    <input type="hidden" id="tableData">

                    <div class="form-group">
                        <label for="questionLabel">Question Label</label>
                        <textarea class="form-control" rows="1" style="resize:none;width:100%" id="questionLabel"
                                  name="questionLabel"></textarea>
                        <div id = "question-label-error">
                        </div>
                        <br/>
                        <label for="question">Question</label>
                        <textarea class="form-control"rows="3" style="resize:none;width:100%" id="question"
                                  name="question"></textarea>
                        <br/>
                        <div class="row">
                            <div class="col-xs-5">
                                <label>Grouping</label>
                            </div>
                            <div class="col-xs-5">
                                <label>Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 ">
                                <select class="form-control" id="grouping" style="width:auto" onchange="changeGrouping()">
                                    <option value="None">None</option>
                                    <option value="Rest">Rest</option>
                                    <option value="All">All</option>
                                    <option value="Label">Label</option>
                                </select>
                            </div>
                            <div class="col-xs-5">
                                <select id="type" class="form-control" style="width:auto" onchange="selected()"
                                        name="type" value= {{ questionType }}>
                                    {% if questionTypes %}
                                        {% for qt in questionTypes %}
                                            {% if qt == questionType %}
                                                <option selected value="{{ qt.name }}">{{ qt.name }}</option>
                                            {% else %}
                                                <option value="{{ qt.name }}">{{ qt.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <br/>

                        <div id="typeDisplay">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <table id="table" class="table"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class = "row">
                            <div class = "col-xs-11">
                                <button class="btn btn-primary" type="submit" onclick="create_post()">Save</button>
                            </div>
                            <div class = "col-xs-1">
                                <button class="btn btn-primary" id = "cancelButton" onclick="cancel()">Clear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="hidden" class="hidden">
        <div id="Label"></div>
        <div id="Choice">
            <div id = "table-error">
            </div>
            <div class="row">
                <div class="labelTable">
                    <div class="col-xs-1">
                        <button class="btn btn-primary" id="btn" type="button"
                                onclick="addRow('', '#labelTable')">+ Add
                        </button>
                    </div>
                    <div class="col-xs-10">
                    </div>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-primary" id="btn" type="button" onclick="addRow('', '#table')">+ Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="labelTable"
                                   class="table table-striped table-condensed table-hover btable labelTable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Label</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>                
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="table" class="table table-striped table-condensed table-hover btable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Choices</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">ddFr
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                    <th style="text-align: center; width: 20px; ">
                                        <div class="th-inner "></div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                {% for c in choices %}
                                    <tr>
                                        <td style="text-align: center; ">
                                            <input type="text" class="noBorder" id="choice" value="{{ c }}"
                                                   style="text-align: center; "/>
                                        </td>
                                        <td style="text-align: center; width: 20px;">
                                            <a class="move up" href="javascript:void(0)" title="move up">
                                                <span class="glyphicon glyphicon-arrow-up"></span>
                                            </a>
                                        </td>

                                        <td style="text-align: center; width: 20px; ">
                                            <a class="move down" href="javascript:void(0)" title="move down">
                                                <span class="glyphicon glyphicon-arrow-down"></span>
                                            </a>
                                        </td>

                                        <td style="text-align: center; width: 20px; ">
                                            <a class="remove" href="javascript:void(0)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </a>
                                        </td>
                                    <tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Rate">
            <div class="row">
                <div class="col-xs-4">
                    <label for='rateTop'>First Word</label>
                </div>
                <div class="col-xs-4">
                    <label for='rateBottom'>Second Word</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <input class='form-control' type='text' id='rateTop'/>
                </div>
                <div class="col-xs-4">
                    <input class='form-control' type='text' id='rateBottom'/>
                </div>
                <div class = "col-xs-1"></div>
            </div>
            <br/>
            <div class="row">
                <div class = "col-xs-3">
                    <label for="rateOptional">Optional</label>
                    <input type='checkbox' id="rateOptional">
                </div>
            </div>
            <br/>
            <div id = "table-error">
            </div>
            <div class="row">
                <div class="col-xs-1 labelTable">
                    <button class="btn btn-primary labelTable" id="btn" type="button" onclick="addRow('', '#labelTable')">+ Add
                    </button>
                </div>
                <div class="col-xs-10 labelTable">
                </div>
            </div>
            <div class="row">
                <div class="labelTable col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="labelTable" class="table table-striped table-condensed table-hover btable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Label</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Rank">
            <div class="row">
                <div class="col-xs-4">
                    <label for='first'>Top Word</label>
                </div>
                <div class="col-xs-4">
                    <label for='second'>Bottom Word</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <input class='form-control' type='text' id='first'/>
                </div>
                <div class="col-xs-4">
                    <input class='form-control' type='text' id='second'/>
                </div>
                <div class="col-xs-4">
                </div>
            </div>
            <br>
            <div id = "table-error"></div>
            <div class="row">
                <div class="col-xs-1">
                    <button class="btn btn-primary labelTable" id="btn" type="button" onclick="addRow('', '#labelTable')">+ Add
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="labelTable"
                                   class="table table-striped table-condensed table-hover btable labelTable">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; ">
                                            <div class="th-inner ">Label</div>
                                            <div class="fht-cell"></div>
                                            <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                                <div style="height: 34px;"></div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Freeform">
            <div id = "table-error">
            </div>
            <div class="row">
                <div class="labelTable">
                    <div class="col-xs-1">
                        <button class="btn btn-primary labelTable" id="btn" type="button"
                                onclick="addRow('', '#labelTable')">+ Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="labelTable"
                                   class="table table-striped table-condensed table-hover btable labelTable">
                                <thead>
                                <tr>
                                    <th style="text-align: center; ">
                                        <div class="th-inner ">Label</div>
                                        <div class="fht-cell"></div>
                                        <div style="margin: 0px 2px 2px; display: none;" class="filterControl">
                                            <div style="height: 34px;"></div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">  
                <div class= "col-xs-2">
                    <select class="form-control" id = "freeformType">
                        <option value="String">String</option>
                        <option value="Paragraph">Paragraph</option>
                        <option value="Integer">Integer</option>
                        <option value="Real">Real</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                         data-target="#collapseOne">
                        <h4 class="panel-title">
                            <a>
                                Maintain Questions <b class="caret"></b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <input type="text" class="form-control" id="search" placeholder="Search">
                            <br/>
                            <div class='table-responsive'>
                                <table id = "questionList">
                                </table> 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
