{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>Report</title>
{% endblock extrahead %}

{% block context %}
    <div class="container">
        <h1>Report</h1>

        <div id="accordion">
            <div class="card my-3">
                <div class="card-header" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <b>Report </b> <b class="caret"></b>
                </div>

                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Select Round</h4>
                                <div>
                                    <select id='roundSelect' class="form-control" style="width:auto; display:inline;"
                                            name="type">
                                        <option value=""></option>
                                        {% for round in rounds %}
                                            <option value="{{ round.pk }}"
                                                    desc="{{ round.description }}">{{ round.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <p id="questionnaire" style="display:inline;"></p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h4>Select Team</h4>
                                <div>
                                    <select disabled="true" id='teamSelect' class="form-control" style="width:auto"
                                            name="type">

                                    </select>
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div class="row">
                            <div class="col-md-12">
                                <table class='table' id='teamUsers'>
                                    <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#teamUsers").DataTable();

            var roundPk = "{{ roundPk }}";

            if (roundPk != "") {
                $("#roundSelect").val(roundPk).change();
            }
        });

        $("#roundSelect").on("change", function () {
            var id = $(this).val();
            var teamSelect = $("#teamSelect");
            var questionnaire = $("#questionnaire");
            var teams = [];

            if (id == "") {
                teamSelect.html("");
                teamSelect.prop("disabled", true);
            } else {
                $.ajax({
                    type: 'GET',
                    url: '/maintainTeam/getTeamsForRound/' + id,
                    success: function (data) {
                        for (var index in data) {
                            team = data[index];
                            if ($.inArray(team.teamName, teams) == -1) {
                                teams.push(team.teamName);
                            }
                        }

                        teamSelect.html("<option></option>");

                        $.each(teams, function (index, value) {
                            teamSelect.append("<option>" + value + "</option>");
                        });

                        teamSelect.prop("disabled", false);

                        $.ajax({
                            type: 'GET',
                            url: '/maintainTeam/getQuestionnaireForRound/' + id,
                            success: function (data) {
                                questionnaire.html(data.questionnaire);
                            }
                        });
                    }
                });
            }
        });

        $("#teamSelect").on("change", function () {
            var roundId = $("#roundSelect").val();
            var teamName = $("#teamSelect").val();

            $.ajax({
                type: 'GET',
                url: '/maintainTeam/getTeamsForRound/' + roundId,
                success: function (data) {
                    var table = $("#teamUsers").DataTable();
                    table.clear().draw();

                    for (var index in data) {
                        team = data[index];
                        if (teamName == team.teamName) {
                            $.ajax({
                                type: 'GET',
                                url: '/report/getUser/' + team.user_id,
                                success: function (data) {
                                    var row = table.row.add([
                                        data.user_id,
                                        data.name,
                                        data.surname
                                    ]).draw(false).node();
                                }
                            });


                        }
                    }
                }
            });
        });
    </script>
{% endblock context %}