{% extends "peer_review/baseUser.html" %}
{% load staticfiles %}

{% block extrahead %}
	<title>Team Members</title>
	<!--Edit navbar active-->
    <script>
        title = "teamMembers";
    </script>
    <!--end-->
{% endblock extrahead %}
{% block context %}
    <div class="container">
        <div class="panel-group" id="accordion">
            {% for team in teams %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ team.1.roundName }}">
                                {{ team }}<b class="caret"></b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ team.1.roundName }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <script>
                                console.log("{{ teams.team.roundName }}");
                            </script>
                            <ul>
                                {% for teamMember in teams.team %}
                                    <li>{{ teamMember.userId }}: {{ teamMember.name }} {{ teamMember.surname }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock context %}