{% extends "peer_review/baseError.html" %}
{% load staticfiles %}
{% block extrahead %}
    <title xmlns="http://www.w3.org/1999/html">403 - Access Denied</title>
{% endblock %}
{% block context %}
    <h1 style="color: red; font-size:500%">Error 403 - Access Denied</h1>
    <h3>You have insufficient permission to view this page</h3>
    <br>
    <img src="{% static "peer_review/pinocchioError.png" %}" id="errorImage" style="width: 36%; height: 72%; "/>
    <br>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">&copy; Pinocchio Team</p>
            <a class="navbar-btn btn-primary btn pull-right" href="/login">Login</a>
        </div>
    </div>
    </div>
{% endblock %}
