{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>User Admin</title>
{% endblock extrahead %}

{% block context %}
    <div id="accordion">
        <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
            {% endfor %}
        {% endif %}
        <div class="card my-3">
            <div class="card-header" data-toggle="collapse" aria-expanded="true" data-target="#collapseOne"aria-controls="collapseOne">
                    User Registration <b class="caret"></b>
                        </div>
                {% if new_users or message or possible_users%}
                    <div id="collapseOne" class="collapse " data-parent="#accordion">
                {% else %}
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    {% endif %}
                    <div class="card-body">
                        {% block content %}
                        <form action="{%  url 'submitUserForm' %}" method="post"
                              onsubmit="return validateUserForm();" class="form-horizontal user-form" id="userForm"
                              role="form">
                            {% csrf_token %}
                            <div class="form-group row">
                                <!-- Title Input -->
                                <label for="title" class="col-sm-2 control-label">Title:</label>

                                <div class="col-sm-3">
                                    {{ userForm.title }}
                                </div>

                                <!-- Initials Input -->
                                <label for="initials" class="col-sm-2 control-label">Initials:</label>

                                <div class="col-sm-3">
                                    {{ userForm.initials }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- Firsts Name Input -->
                                <label for="firstName" class="col-sm-2 control-label">First Name:</label>

                                <div class="col-sm-3">
                                    {{ userForm.name }}
                                </div>

                                <!-- Surname Input -->
                                <label for="surname" class="col-sm-2 control-label">Surname:</label>

                                <div class="col-sm-3">
                                    {{ userForm.surname }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- Email Input -->
                                <label for="email" class="col-sm-2 control-label">Email:</label>

                                <div class="col-sm-3">
                                    {{ userForm.email }}
                                </div>

                                <!--Cell Number Input -->
                                <label for="cellNumber" class="col-sm-2 control-label">Cell Number:</label>

                                <div class="col-sm-3">
                                    {{ userForm.cell }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- User Name Input -->
                                <label for="userName" class="col-sm-2 control-label">User Name</label>

                                <div class="col-sm-3">
                                    {{ userForm.user_id }}
                                </div>

                                <!-- Status Input -->
                                <label for="status" class="col-sm-2 control-label">Status:</label>

                                <div class="col-sm-3">
                                    {{ userForm.status }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- Submit Button -->
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="save btn btn-info" id="submitUser">Submit</button>
                                </div>
                            </div>
                        </form>
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-header" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                    User Registration Via CSV File <b class="caret"></b>
                </div>
                <!-- TODO(egeldenhuys): rename message to something specific to CSV uploading.-->
                <div id="collapseTwo" class="collapse {% if message or possible_users%}show{% endif %}">

                    <div class="card-body">
                        <div>
                            <strong>Example CSV</strong>:<br>
                            <pre id="csv_example"></pre>
                            <script>
                                let str =
                                    'title, initials, name, surname, email, cell, user_id\n' +
                                    'Mr, JF, John, Bool, johnbool@example.com, 123456789, john';
                                $('#csv_example').text(str);
                            </script>
                        </div>
                        <form class="col-md-6" action="{% url 'submitCSV' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>{{ docForm.non_field_errors }}</p>

                            <p>{{ docForm.doc_file.label_tag }} {{ docForm.doc_file.help_text }}</p>

                            <div class="mb-3">
                                {{ docForm.doc_file.errors }}
                                {{ docForm.doc_file }}
                            </div>
                            <input type="submit" value="Submit"/>
                        </form>

                        <!-- TODO(egeldenhuys): Move Email template to different location -->
                        <form class="col-md-6" action="" method="post" enctype="multipart/form-data">
                            <p><label for="email_template">Email Template:</label></p>
                            <input class="save btn btn-primary" type="button" data-toggle="modal"
                                   data-target="#editEmailTemplate" id="email_template" value="Edit">
                        </form>
                    </div>
                    <!-- existance of error_code indicates we recieved a response
                    from the submit_csv() function -->
                    {% if error_code != None %}
                    <div class="card-body">

                        {% if error_code == 0 %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>

                            {% if possible_users %}
                            <!-- TODO(egeldenhuys): Add button to skip to bottom? -->
                            <div class="alert alert-info" role="alert">
                                Confirm the transaction at the bottom of the page
                            </div>
                            {% endif %}

                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}

                        {% if possible_users %}
                        <div class='table-responsive'>
                            <table class='table'>
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Initials</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Cell</th>
                                    <th>UserID</th>
                                </thead>
                                {% for row in possible_users %}
                                <tr>
                                    <td>{{ row.title }}</td>
                                    <td>{{ row.initials }}</td>
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.surname }}</td>
                                    <td>{{ row.email }}</td>
                                    <td>{{ row.cell }}</td>
                                    <td>{{ row.user_id }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}

                        {% if error_code == 0 and possible_users %}
                        <form action="{% url 'submitCSV_confirm' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="hidden" name="request_id" value="{{request_id}}"><br>
                            <input id="confirm" type="hidden" name="confirm" value="0"><br>

                            <input type="submit" value="Cancel" onclick="document.getElementById('confirm').value='0'">
                            <input type="submit" value="Confirm" onclick="document.getElementById('confirm').value='1'">
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="card my-3">
                <div class="card-header" data-toggle="collapse" data-parent="#accordion"
                     data-target="#collapseThree">
                    Maintain Users <b class="caret"></b>
                </div>

                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">

                        <!-- <input type="text" class="form-control" id="search" placeholder="Search"
                               onkeyup="showResult(this.value)"> -->

                        <div>
                            <!-- ToDo fix sortable -->
                            <table id='users' class="table">
                                <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Title</th>
                                    <th>Initials</th>
                                    <th>First Name</th>
                                    <th>Surname</th>
                                    <th data-defaultsort='disabled'>Cell</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>View rounds</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr id="user{{ user.pk }}">
                                    <td data-id="user_id">{{ user.user_id }}</td>
                                    <td data-id="title">{{ user.title }}</td>
                                    <td data-id="initials">{{ user.initials }}</td>
                                    <td data-id="name">{{ user.name }}</td>
                                    <td data-id="surname">{{ user.surname }}</td>
                                    <td data-id="cell">{{ user.cell }}</td>
                                    <td data-id="email">{{ user.email }}</td>
                                    <td data-id="status">{{ user.status }}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm"
                                           href="/userAdmin/userProfile/{{ user.pk }}">R</a>
                                    </td>
                                    <td>
                                        <button name="edit" class='btn btn-success btn-sm edit'
                                                data-toggle="modal" data-target="#editModal"
                                                data-csrf='{{ csrf_token }}' data-id="{{ user.user_id }}"
                                                data-pk="{{ user.pk }}">
                                            &#9998;
                                        </button>
                                    </td>

                                    <td>
                                        <input type="checkbox" class="multiRemove" data-id="{{ user.user_id }}"
                                               data-pk="{{ user.pk }}">
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <button name="remove" id="remove" class='btn btn-warning pull-right'
                                    data-csrf="{{ csrf_token }}" data-id="{{ user.user_id }}"
                                    data-pk="{{ user.pk }}">
                                Delete Users
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "peer_review/userEditModal.html" %}

    <div id="editEmailTemplate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Email Template</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form role="form" id="modalEmailForm">
                        <div class="form-group">
                            <label for="user_id">Email Text:</label>
                            <p>
                                Please use {first_name}, {last_name}, {otp}, {datetime} and {login} to indicate the
                                positioning of the user's first name, last name, one time password,
                                time of registration and login details, example:<br><br>
                                Hello {first_name} {last_name} your username is {login} and your OTP is {otp}. It
                                expires in 7 days from {datetime}
                            </p>
                            <textarea id="emailText" rows="15" type="text" class="form-control" id="email_text">{{ email_text }}</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-csrf='{{ csrf_token }}'
                            id="updateEmailConfirm" data-dismiss="modal">Update
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'peer_review/search.js' %}"></script>
    <script src="{% static 'peer_review/validation.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            const table = $("#users").DataTable({
                "initComplete": function () {
                    // Hook update user buttons
                    editUserHookUpdateButtons(this.api().rows().nodes().toJQuery());
                }
            });

            $(".btn.more").on("click", function () {
                var pk = $(this).data("pk");
                window.location.href = "" + pk;
            });
        });

        $("#updateEmailConfirm").on("click", function() {
            var emailText = $("#emailText").val();
            var token = $(this).data("csrf");

            var data = {
                'emailText': emailText,
                'csrfmiddlewaretoken': token
            };

            $.ajax({
                type: 'POST',
                url: '/userAdmin/updateEmail/',
                data: data,
                success: function() {
                    alert("Updated");
                }
            });
        });

        $("#remove").on("click", function () {
            var toDelete = [];
            var token = $(this).data("csrf");

            $("input:checked.multiRemove").each(function() {
                if (this.checked) {
                    toDelete.push({
                        "id": $(this).data("id"),
                        "pk": $(this).data("pk")
                    });
                }
            });

            var toDeleteMessage = "Are you sure you want to delete these users:\n";
            var toDeleteList = [];

            $.each(toDelete, function(index, value) {
                toDeleteMessage += value.id + "\n";
                toDeleteList.push(value.pk);
            });

            if(confirm(toDeleteMessage)) {
                var data = {
                    'toDelete': toDeleteList,
                    'csrfmiddlewaretoken': token
                };

                $.ajax({
                    type: 'POST',
                    url: '/userAdmin/delete/',
                    data: data,
                    success: function() {
                        $.each(toDeleteList, function(index, value) {
                            $("#users > tbody > tr#" + value).fadeOut(500);
                        });
                    }
                });
            }
        });





    </script>

    {% endblock context %}