{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>User Admin</title>
    <!--Edit navbar active-->
    <script>
        title = "userAdmin";
    </script>
{% endblock extrahead %}

{% block context %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
            {% endfor %}
        {% endif %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <h4 class="panel-title">
                        <a>
                            <b>User Registration </b> <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                {% if new_users or message %}
                    <div id="collapseOne" class="panel-collapse collapse">
                {% else %}
                    <div id="collapseOne" class="panel-collapse collapse in">
                {% endif %}
                    <div class="panel-body">
                        {% block content %}
                            <form action="/userAdmin/submitForm/" method="post"
                                  onsubmit="return validateUserForm();" class="form-horizontal user-form" id="userForm"
                                  role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <!-- Title Input -->
                                    <label for="title" class="col-sm-2 control-label">Title:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.title }}
                                    </div>

                                    <!-- Initials Input -->
                                    <label for="initials" class="col-sm-2 control-label">Initials:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.initials }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Firsts Name Input -->
                                    <label for="firstName" class="col-sm-2 control-label">First Name:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.name }}
                                    </div>

                                    <!-- Surname Input -->
                                    <label for="surname" class="col-sm-2 control-label">Surname:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.surname }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Email Input -->
                                    <label for="email" class="col-sm-2 control-label">Email:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.email }}
                                    </div>

                                    <!--Cell Number Input -->
                                    <label for="cellNumber" class="col-sm-2 control-label">Cell Number:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.cell }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- User Name Input -->
                                    <label for="userName" class="col-sm-2 control-label">User Name</label>

                                    <div class="col-sm-3">
                                        {{ userForm.userId }}
                                    </div>

                                    <!-- Status Input -->
                                    <label for="status" class="col-sm-2 control-label">Status:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.status }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Submit Button -->
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="save btn btn-info" id="submitUser">Submit</button>
                                    </div>
                                </div>
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                    <h4 class="panel-title">
                        <a>
                            User Registration Via CSV File <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                {% if new_users or message %}
                    <div id="collapseTwo" class="panel-collapse collapse in">
                {% else %}
                    <div id="collapseTwo" class="panel-collapse collapse">
                {% endif %}
                    <div class="panel-body">
                        <form class="col-md-6" action="{% url 'submitCSV' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>{{ docForm.non_field_errors }}</p>

                            <p>{{ docForm.docfile.label_tag }} {{ docForm.docfile.help_text }}</p>

                            <p>
                                {{ docForm.docfile.errors }}
                                {{ docForm.docfile }}
                            </p>

                            <p><input type="submit" value="Upload"/></p>
                        </form>

                        <form class="col-md-6" action="" method="post" enctype="multipart/form-data">
                            <p><label for="email_template">Email Template:</label></p>
                            <input class="save btn btn-info" type="button" data-toggle="modal" data-target="#editEmailTemplate" id="email_template" value="Edit">
                        </form>
                    </div>
                        {% if new_users %}
                            <div class = "panel-body">
                            <div class="alert alert-success" role="alert">
                                <strong>Success!</strong> The following users were added:
                            </div>
                            {% for u in new_users %}
                                <em>{{ u.name }} ({{ u.initials }}) {{ u.surname }}</em>
                                <br>
                            {% endfor %}
                        {% endif %}
                        {% if message %}
                            <div class = "panel-body">
                            {% if error == 0 %}
                                <div class="alert alert-warning" role="alert">
                                    <p>Something seems to be wrong with the CSV file.</p>
                                </div>
                                    <p>The format should be:</p>
                                    <p><em>"Title","Initials","Name","Surname","Email","Cell","UserID"</em></p>
                                    <p>An example entry is <em>"Mr","TS", "Tom", "Smith", "tsmith@gmail.com", "0848259675", "TomSmith"</em></p>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    There is an error in the CSV, at line {{ message }}:
                            {% endif %}

                            {% if error == 2 %}
                                Not all fields contain values.
                                </div>
                            {% elif error == 3 %}
                                 Cell number is invalid.
                                </div>
                            {% elif error == 4 %}
                                The following user already exists.
                                </div>
                                <div class='table-responsive'>
                                <table class='table'>
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Initials</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Email</th>
                                        <th>Cell</th>
                                        <th>UserID</th>
                                    </thead>
                                    <tr>
                                        <td>
                                            {{ row.0 }}
                                        </td>
                                        <td>
                                            {{ row.1 }}
                                        </td>
                                        <td>
                                            {{ row.2 }}
                                        </td>
                                        <td>
                                            {{ row.3 }}
                                        </td>
                                        <td>
                                            {{ row.4 }}
                                        </td>
                                        <td>
                                            {{ row.5 }}
                                        </td>
                                        <td>
                                            {{ row.6 }}
                                        </td>
                                        <td>
                                            {{ row.7 }}
                                        </td>
                                        <td>
                                            {{ row.8 }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                    <h4 class="panel-title">
                        <a>
                            Maintain Users <b class="caret"></b>
                        </a>
                    </h4>
                </div>

                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">

                        <!-- <input type="text" class="form-control" id="search" placeholder="Search"
                               onkeyup="showResult(this.value)"> -->

                        <div>
                            <!-- ToDo fix sortable -->
                            <!-- ToDo implement delete confirmation -->
                            <table id='users'>
                                <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Title</th>
                                    <th>Initials</th>
                                    <th>First Name</th>
                                    <th>Surname</th>
                                    <th data-defaultsort='disabled'>Cell</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr id="{{ user.pk }}">
                                        <td data-id="userId">{{ user.userId }}</td>
                                        <td data-id="title">{{ user.title }}</td>
                                        <td data-id="initials">{{ user.initials }}</td>
                                        <td data-id="name">{{ user.name }}</td>
                                        <td data-id="surname">{{ user.surname }}</td>
                                        <td data-id="cell">{{ user.cell }}</td>
                                        <td data-id="email">{{ user.email }}</td>
                                        <td data-id="status">{{ user.status }}</td>
                                        <td>
                                            <button type="button" name="edit" class='btn btn-success btn-xs edit' data-toggle="modal" data-target="#editModal" data-csrf='{{ csrf_token }}' data-id="{{ user.userId }}" data-pk="{{ user.pk }}">
                                                &#9998;
                                            </button>
                                        </td>

                                        <td>
                                            <input type="checkbox" class="multiRemove" data-id="{{ user.userId }}" data-pk="{{ user.pk }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <button type="button" name="remove" id="remove" class='btn btn-warning pull-right' data-csrf="{{ csrf_token }}" data-id="{{ user.userId }}" data-pk="{{ user.pk }}">
                                Delete Users
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="modalForm">
                        <!--<div class="form-group">
                            <label for="userId">User ID:</label>
                            <input type="text" class="form-control" id="e_userId">
                        </div>-->
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <select class="form-control" id="e_title">
                                <option></option>
                                <option>Mr</option>
                                <option>Ms</option>
                                <option>Miss</option>
                                <option>Mrs</option>
                                <option>Dr</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="initials">Initials:</label>
                            <input type="text" class="form-control" id="e_initials">
                        </div>
                        <div class="form-group">
                            <label for="name">First Name:</label>
                            <input type="text" class="form-control" id="e_name">
                        </div>
                        <div class="form-group">
                            <label for="surname">Surname:</label>
                            <input type="text" class="form-control" id="e_surname">
                        </div>
                        <div class="form-group">
                            <label for="cell">Cell:</label>
                            <input type="text" class="form-control" id="e_cell">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="e_email">
                        </div>
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select class="form-control" id="e_status">
                                <option></option>
                                <option>User</option>
                                <option>Admin</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" id="resetPassword">Reset Password</button>
                    <button type="button" class="btn btn-success" id="more">More</button>
                    <button type="button" class="btn btn-success" id="updateConfirm" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div id="editEmailTemplate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Email Template</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="modalEmailForm">
                        <div class="form-group">
                            <label for="userId">Email Text:</label>
                            <p>
                                Please use {firstname}, {lastname}, {otp}, {datetime} and {login} to indicate the positioning of the user's first name, last name, one time password,
                                time of registration and login details, example:<br><br>
                                Hello {firstname} {lastname} your username is {login} and your OTP is {otp}. It expires in 7 days from {datetime}
                            </p>
                            <textarea id="emailText" rows="15" type="text" class="form-control" id="email_text">{{ email_text }}</textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-csrf='{{ csrf_token }}' id="updateEmailConfirm" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "peer_review/search.js" %}"></script>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           $("#users").DataTable();
        });

        $("#updateEmailConfirm").on("click", function() {
            var emailText = $("#emailText").val();
            var token = $(this).data("csrf");

            var data = {
                'emailText': emailText,
                'csrfmiddlewaretoken': token
            };

            $.ajax({
                type: 'POST',
                url: '/userAdmin/updateEmail/',
                data: data,
                success: function() {
                    alert("Updated");
                }
            });
        });

        $("#remove").on("click", function () {
            var toDelete = [];
            var token = $(this).data("csrf");

            $("input:checked.multiRemove").each(function() {
                if (this.checked) {
                    toDelete.push({
                        "id": $(this).data("id"),
                        "pk": $(this).data("pk")
                    });
                }
            });

            var toDeleteMessage = "Are you sure you want to delete these users:\n";
            var toDeleteList = [];

            $.each(toDelete, function(index, value) {
                toDeleteMessage += value.id + "\n";
                toDeleteList.push(value.pk);
            });

            if(confirm(toDeleteMessage)) {
                var data = {
                    'toDelete': toDeleteList,
                    'csrfmiddlewaretoken': token
                };

                $.ajax({
                    type: 'POST',
                    url: '/userAdmin/delete/',
                    data: data,
                    success: function() {
                        $.each(toDeleteList, function(index, value) {
                            $("#users > tbody > tr#" + value).fadeOut(500);
                        });
                    }
                });
            }
        });

        $(".edit").on("click", function() {
            var pk = $(this).data("pk");
            $("#more").attr("data-pk", pk);
            var token = $(this).data("csrf");
            var row = $("#users > tbody > tr#" + pk);

            var userId = row.children("[data-id='userId']");
            var title = row.children("[data-id='title']");
            var initials = row.children("[data-id='initials']");
            var name = row.children("[data-id='name']");
            var surname = row.children("[data-id='surname']");
            var cell = row.children("[data-id='cell']");
            var email = row.children("[data-id='email']");
            var status = row.children("[data-id='status']");

            $("#e_userId").val(userId.text());
            $("#e_title").val(title.text());
            $("#e_initials").val(initials.text());
            $("#e_name").val(name.text());
            $("#e_surname").val(surname.text());
            $("#e_cell").val(cell.text());
            $("#e_email").val(email.text());

            if (status.text() == "U") {
                $("#e_status").val("User");
            } else if (status.text() == "A") {
                $("#e_status").val("Admin");
            }

            $("#updateConfirm").on("click", function () {
                var uStatus = "";

                if ($("#e_status").val() == "User") {
                    uStatus = "U";
                } else if ($("#e_status").val() == "Admin") {
                    uStatus = "A";
                }

                var data = {
                    'userId': $("#e_userId").val(),
                    'title': $("#e_title").val(),
                    'initials': $("#e_initials").val(),
                    'name': $("#e_name").val(),
                    'surname': $("#e_surname").val(),
                    'cell': $("#e_cell").val(),
                    'email': $("#e_email").val(),
                    'status': uStatus,
                    'csrfmiddlewaretoken': token
                };

                $.ajax({
                    type: 'POST',
                    url: '/userAdmin/update/' + pk,
                    data: data,
                    success: function() {
                        userId.text($("#e_userId").val());
                        title.text($("#e_title").val());
                        initials.text($("#e_initials").val());
                        name.text($("#e_name").val());
                        surname.text($("#e_surname").val());
                        cell.text($("#e_cell").val());
                        email.text($("#e_email").val());
                        status.text(uStatus);
                    }
                });
            });

            $("#resetPassword").on("click", function () {
                if (confirm("Are you sure you want to reset the password for this user?")) {
                    $.ajax({
                        type: 'POST',
                        url: '/userAdmin/resetPassword/' + pk,
                        data: {
                            'csrfmiddlewaretoken': token
                        },
                        success: function() {
                            alert("Password reset");
                        }
                    });
                }
            });

            $("#more").on("click", function () {
                var pk = $(this).data("pk");
                window.location.href = "/userAdmin/userProfile/" + pk;
            });
        });
    </script>

{% endblock context %}