{% extends "peer_review/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <title>User Admin</title>
    <script src="{% static "peer_review/search.js" %}"></script>
    <script src="{% static "peer_review/validation.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#users tr').each(function () {
                $(this).find('input[type="text"]').each(function () {
                    $(this).attr('size', $(this).val().length);
                });
            });
        });
    </script>
{% endblock extrahead %}

{% block context %}
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <h4 class="panel-title">
                        <a>
                            <b>User Registration </b>
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% block content %}
                            <form action="/userAdmin/submitForm/" method="post"
                                  onsubmit="return validateUserForm();" class="form-horizontal user-form" id="userForm"
                                  role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <!-- Title Input -->
                                    <label for="title" class="col-sm-2 control-label">Title:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.title }}
                                    </div>

                                    <!-- Initials Input -->
                                    <label for="initials" class="col-sm-2 control-label">Initials:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.initials }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Firsts Name Input -->
                                    <label for="firstName" class="col-sm-2 control-label">First Name:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.name }}
                                    </div>

                                    <!-- Surname Input -->
                                    <label for="surname" class="col-sm-2 control-label">Surname:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.surname }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Email Input -->
                                    <label for="email" class="col-sm-2 control-label">Email:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.email }}
                                    </div>

                                    <!--Cell Number Input -->
                                    <label for="cellNumber" class="col-sm-2 control-label">Cell Number:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.cell }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Student Number Input -->
                                    <label for="studentNumber" class="col-sm-2 control-label">Student Number:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.userId }}
                                    </div>

                                    <!-- Status Input -->
                                    <label for="status" class="col-sm-2 control-label">Status:</label>

                                    <div class="col-sm-3">
                                        {{ userForm.status }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Submit Button -->
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="save btn btn-info" id="submitUser">Submit</button>
                                    </div>
                                </div>
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                    <h4 class="panel-title">
                        <a>
                            User Registration Via CSV File <b class="caret"></b>
                        </a>
                    </h4>
                </div>

                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form action="{% url 'submitCSV' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>{{ docForm.non_field_errors }}</p>

                            <p>{{ docForm.docfile.label_tag }} {{ docForm.docfile.help_text }}</p>

                            <p>
                                {{ docForm.docfile.errors }}
                                {{ docForm.docfile }}
                            </p>

                            <p><input type="submit" value="Upload"/></p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                    <h4 class="panel-title">
                        <a>
                            Maintain Users <b class="caret"></b>
                        </a>
                    </h4>
                </div>

                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">

                        <input type="text" class="form-control" id="search" placeholder="Search"
                               onkeyup="showResult(this.value)">

                        <div class='table-responsive'>
                            <!-- ToDo fix sortable -->
                            <!-- ToDo implement delete confirmation -->
                            <table class='table sortable' id='users'>
                                <thead>
                                <tr>
                                    <th>Student Number</th>
                                    <th>Title</th>
                                    <th>Initials</th>
                                    <th>First Name</th>
                                    <th>Surname</th>
                                    <th data-defaultsort='disabled'>Cell</th>
                                    <th>Email</th>
                                    <th>Accept Edit</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr id="{{ user.pk }}">
                                        <form action="/userAdmin/update/{{ user.pk }}" method="post">
                                            {% csrf_token %}
                                            <td><input type="text" class="noBorder" name="userId"
                                                       value="{{ user.userId }}"></input></td>
                                            <td><input type="text" class="noBorder" name="title"
                                                       value="{{ user.userDetail.title }}"></input></td>
                                            <td><input type="text" class="noBorder" name="initials"
                                                       value="{{ user.userDetail.initials }}"></input></td>
                                            <td><input type="text" class="noBorder" name="name"
                                                       value="{{ user.userDetail.name }}"></input></td>
                                            <td><input type="text" class="noBorder" name="surname"
                                                       value="{{ user.userDetail.surname }}"></input></td>
                                            <td><input type="text" class="noBorder" name="cell"
                                                       value="{{ user.userDetail.cell }}"></input></td>
                                            <td><input type="text" class="noBorder" name="email"
                                                       value="{{ user.userDetail.email }}"></input></td>
                                            <td>
                                                <button type='submit' name="edit" class='btn btn-success btn-xs'
                                                        id='edit' value="{{ user.userId }}">Edit
                                                </button>
                                            </td>
                                        </form>
                                        <td>
                                            <form action="/userAdmin/delete/{{ user.pk }}" method="post"
                                                  onsubmit="return confirmDeletion()">
                                                {% csrf_token %}
                                                <button type='submit' name="remove" class='btn btn-warning btn-xs'
                                                        id='remove'>Delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock context %}