<script>
    var batch_num = 0;

    //This function gets called when the Save button is pushed
    saveFunctions.push(function () {
        d = new Date();
        var batch_id = d.getTime()+ "" + batch_num;
        batch_num++;
        $("#{{ q.id }}").find("input:checked").each( function(i, choiceItem)
        {
            var json = {
                'questionPk': {{ q.id }},
                'roundPk': roundPk,
                'label': choiceItem.dataset.labelid,
                'answer': choiceItem.value,
                'subjectUser': choiceItem.dataset.labelid,
                'batch_id': batch_id
            };
            sendToView(json);
        });
        
    })

    $('document').ready(function() {
        getResponses({{ q.id }}, function (responses)
        {
            if (responses.answers.length !== 0)
            {
                {% if q.questionGrouping.grouping == "None" %}
                    $("#{{ q.id }}").find('[value="'+responses.answers[0]+'"]').prop('checked', true);
                {% else %}
                for (var x = 0; x < responses.answers.length; x++) {
                    $("#{{ q.id }}").find('*[data-labelid="'+responses.labelOrUserIds[x]+'"]').filter('[value="'+responses.answers[x]+'"]').prop('checked', true);
                }
               {% endif %}
            } 
        });
    })

</script>
<p><strong>{{ number|add:"1" }}</strong>. {{ q.questionText }}</p>
{% if q.questionGrouping.grouping == "None" %}
    {% for choice in q.get_choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ number }}" value="{{ choice }}" id="{{ number }}{{ choice }}"><label class="form-check-label" for="{{ number }}{{ choice }}">{{ choice.choiceText }}</label>
            </div>
    {% endfor %}
{% elif q.questionGrouping.grouping == "Label" %}
    {% for l in q.get_labels %}
        <h4>{{ l.labelText }}</h4>
        {% for choice in q.get_choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name = "{{ l.pk }} " data-labelid = "{{ l.pk }}" value="{{ choice }}" id="{{ choice }}{{ l.pk }}"><label class="form-check-label" for="{{ choice }}{{ l.pk }}">{{ choice.choiceText }}</label>
            </div> 
        {% endfor %}
    {% endfor %}
{% elif q.questionGrouping.grouping == "All" %}
    {% for u in teamMembers %}
        <h4>{{ u.name }} {{ u.surname }}</h4>
        {% for choice in q.get_choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name = "{{ u.pk }}" data-labelid = "{{ u.pk }}" value="{{ choice }}" id="{{ u.pk }}{{ choice }}"><label class="form-check-label" for="{{ u.pk }}{{ choice }}>{{ choice.choiceText }}</label>
            </div> 
        {% endfor %}
    {% endfor %}
{% elif q.questionGrouping.grouping == "Rest" %}
    {% for u in teamMembers %}
        <h4>{{ u.name }} {{ u.surname }}</h4>
        {% for choice in q.get_choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name = "{{ u.pk }}{{q.pk}}"  data-labelid = "{{ u.pk }}" value="{{ choice }}" id="{{ u.pk }}{{ choice }}"><label class="form-check-label" for="{{ u.pk }}{{ choice }}>{{ choice.choiceText }}</label>
            </div> 
        {% endfor %}
    {% endfor %}
{% endif %}
<br/>