<script>
    //Add a function that saves every choice-type question
    //This function gets called when the Save button is pushed
    saveFunctions.push(function () {
        $("#{{ q.id }} > input:checked").each( function(i, choiceItem)
        {
            var json = {
              'questionPk': {{ q.id }},
                'roundPk': roundPk,
                'label': choiceItem.getAttribute('choice_id'),
                'answer': choiceItem.value,
                'subjectUser': choiceItem.getAttribute('choice_id')
            };
            console.log(json);
            alert(json);
            sendToView(json);
        });
        
        getResponses({{ q.id }}, function (responses)
        {
           if (responses.answers.length != 0)
           {
               alert(responses);
               for (res in responses)
               {
               }
           } 
        });
    })

</script>
<hr/>
<p><strong>{{ number }}</strong>. {{ q.questionText }}</p>
<br/>
{% if q.questionGrouping.grouping == "Label" %}
    {% for l in q.get_labels %}
        <h4>{{ l.labelText }}</h4>
        {% for choice in q.get_choices %}
            <input type="radio" choice_id="{{ l.id }}" name="{{ number }}_{{ l.id }}" value="{{ choice.num }}" />{{ choice.choiceText }}<br /> 
        {% endfor %}
    {% endfor %}
    
{% else %}
    {% for u in teamMembers %}
        {% if u.user != currentUser or q.questionGrouping.grouping == "All" %}
            <h4>{{ u.user.name }} {{ u.user.surname }}</h4>
            {% for choice in q.get_choices %}
                <input type="radio" choice_id="{{ u.user.id }}" name="{{ number }}_{{ u.user.id }}" value="{{ choice.num }}" />{{ choice.choiceText }}<br /> 
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}