<script>
    var batch_num = 0;

    //This function gets called when the Save button is pushed
    saveFunctions.push(function () {
        d = new Date();
        var batch_id = d.getTime()+ "" + batch_num;
        batch_num++;
        $("#{{ q.question.id }}").find("input:checked").each( function(i, choiceItem)
        {
            var json = {
                'questionPk': {{ q.question.id }},
                'roundPk': roundPk,
                'label': choiceItem.dataset.labelid,
                'answer': choiceItem.value,
                'subjectUser': choiceItem.dataset.labelid,
                'batch_id': batch_id
            };
            sendToView(json);
        });
        
    })

    $('document').ready(function() {
        {% if not preview %}
        getResponses({{ q.question.id }}, function (responses)
        {
            if (responses.answers.length !== 0)
            {
                {% if grouping == "None" %}
                    $("#{{ q.question.id }}").find('[value="'+responses.answers[0]+'"]').prop('checked', true);
                {% else %}
                for (var x = 0; x < responses.answers.length; x++) {
                    $("#{{ q.question.id }}").find('*[data-labelid="'+responses.labelOrUserIds[x]+'"]').filter('[value="'+responses.answers[x]+'"]').prop('checked', true);
                }
               {% endif %}
            } 
        });
        {% endif %}
    })

</script>
<p><strong>{{ number|add:"1" }}</strong>. {{ q.question.questionText }}</p>
{% if grouping == "None" %}
    {% for choice in q.question.get_choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ number }}" value="{{ choice }}" id="{{ number }}{{ choice }}"><label class="form-check-label" for="{{ number }}{{ choice }}">{{ choice.choiceText }}</label>
            </div>
    {% endfor %}
{% elif grouping == "Label" %}
    {% for labl in lbls %}
            {% ifequal labl.questionOrder.pk q.pk %}
                <h4>{{ labl.labelText }}</h4>
                {% for choice in q.question.get_choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name = "{{ labl.pk }} " data-labelid = "{{ labl.pk }}" value="{{ choice }}" id="{{ choice }}{{ labl.pk }}"><label class="form-check-label" for="{{ choice }}{{ labl.pk }}">{{ choice.choiceText }}</label>
                    </div>
                {% endfor %}
            {% endifequal %}
        {% endfor %}
    {% endfor %}
{% elif grouping == "All" %}
    {% for u in teamMembers %}
        <h4>{{ u.name }} {{ u.surname }}</h4>
        {% for choice in q.question.get_choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name = "{{ u.pk }}" data-labelid = "{{ u.pk }}" value="{{ choice }}" id="{{ u.pk }}{{ choice }}"><label class="form-check-label" for="{{ u.pk }}{{ choice }}">{{ choice.choiceText }}</label>
            </div>
        {% endfor %}
    {% endfor %}
{% elif grouping == "Rest" %}
    {% for u in teamMembers %}
        {% if u != currentUser %}
            <h4>{{ u.name }} {{ u.surname }}</h4>
            {% for choice in q.question.get_choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name = "{{ u.pk }}{{q.pk}}"  data-labelid = "{{ u.pk }}" value="{{ choice }}" id="{{ u.pk }}{{ choice }}"><label class="form-check-label" for="{{ u.pk }}{{ choice }}">{{ choice.choiceText }}</label>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
<br/>