<script>
    //Add a function that saves every rank-type question
    //This function gets called when the Save button is pushed
    var batch_num = 0;
    saveFunctions.push(function () {
        d = new Date();
        var batch_id = d.getTime()+ "" + batch_num;
        batch_num++;
        $("#{{ q.question.id }}").find('.rankItem').each(function (i, rankItem) {
            var json = {
                'questionPk': {{ q.question.id }},
                'roundPk': roundPk,
                'label': rankItem.dataset.id,
                'answer': i,
                'subjectUser': rankItem.dataset.id,
                'batch_id': batch_id
            };
            sendToView(json);
        });
    });

    //The function to load the responses
    {% if not preview %}
    getResponses({{ q.question.id }}, function (responses) {
        if (responses.answers.length !== 0) {
            for (var x = 0; x < responses.answers.length; x++) {
                var row = $("#{{ q.question.id }}").find('.rankTable tr').eq(responses.answers[x]).find('td');
                row.eq(0).html(responses.labelOrUserNames[x]);
                row[0].dataset['id'] = responses.labelOrUserIds[x];
            }
        }
    });
    {% endif %}
</script>
<p><strong>{{ number|add:"1" }}</strong>. {{ q.question.questionText }}</p>
<br/>
<p><strong> {{ q.question.get_rank.firstWord }} </strong></p>
<table class="table table-responsive rankTable">
    {% if grouping == "Label" %}
        {% for lbls in questionLabels %}
            {% for labl in lbls %}
                {% ifequal labl.questionOrder.pk q.pk %}
                    <tr>
                        <td data-id="{{ labl.pk }}" class="rankItem">{{ labl.labelText }}</td>
                        <td>
                            <div style="text-align: right; width: auto;">
                                <a class="move up" href="javascript:void(0)" title="move up">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                                <a class="move down" href="javascript:void(0)" title="move down">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endifequal %}
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for u in teamMembers %}
            {% if grouping == "Rest" %}
                {% if u != currentUser %}
                    <tr>
                        <td data-id="{{ u.user_id }}" class="rankItem">{{ u.name }} {{ u.surname }}</td>
                        <td>
                            <div style="text-align: right; width: auto;">
                                <a class="move up" href="javascript:void(0)" title="move up">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                                <a class="move down" href="javascript:void(0)" title="move down">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td data-id="{{ u.user_id }}" class="rankItem">{{ u.name }} {{ u.surname }}</td>
                    <td>
                        <div style="text-align: right; width: auto;">
                            <a class="move up" href="javascript:void(0)" title="move up">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </a>
                            <a class="move down" href="javascript:void(0)" title="move down">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
</table>
<p><strong> {{ q.question.get_rank.secondWord }} </strong></p>