<script>
    //Add a function that saves every rank-type question
    //This function gets called when the Save button is pushed
    var batchnum = 0;
    saveFunctions.push(function () {
        d = new Date();
        var batch_id = d.getTime()+ "" + batchnum;
        batchnum++;
        $("#{{ q.id }}").find('.rankItem').each(function (i, rankItem) {
            var json = {
                'questionPk': {{ q.id }},
                'roundPk': roundPk,
                'label': rankItem.dataset.id,
                'answer': i,
                'subjectUser': rankItem.dataset.id,
                'batch_id': batch_id
            };
            sendToView(json);
        });
    });

    //The function to load the responses
    getResponses({{ q.id }}, function (responses) {
        if (responses.answers.length != 0) {
            for (var x = 0; x < responses.answers.length; x++) {
                row = $("#{{ q.id }}").find('.rankTable tr').eq(responses.answers[x]).find('td');
                row.eq(0).html(responses.labelOrUserNames[x]);
                row[0].dataset['id'] = responses.labelOrUserIds[x];
            }
        }
    });
</script>
<p><strong>{{ number|add:"1" }}</strong>. {{ q.questionText }}</p>
<br/>
<p><strong> {{ q.get_rank.firstWord }} </strong></p>
<table class="table table-responsive rankTable">
    {% if q.questionGrouping.grouping == "Label" %}
        {% for l in q.get_labels %}
            <tr>
                <td data-id="{{ l.id }}" class="rankItem">{{ l }}</td>
                <td>
                    <div style="text-align: right; width: auto;">
                        <a class="move up" href="javascript:void(0)" title="move up">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </a>
                        <a class="move down" href="javascript:void(0)" title="move down">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        {% for u in teamMembers %}
            {% if q.questionGrouping.grouping == "Rest" %}
                {% if u != currentUser %}
                    <tr>
                        <td data-id="{{ u.user_id }}" class="rankItem">{{ u.name }} {{ u.surname }}</td>
                        <td>
                            <div style="text-align: right; width: auto;">
                                <a class="move up" href="javascript:void(0)" title="move up">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                                <a class="move down" href="javascript:void(0)" title="move down">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td data-id="{{ u.user_id }}" class="rankItem">{{ u.name }} {{ u.surname }}</td>
                    <td>
                        <div style="text-align: right; width: auto;">
                            <a class="move up" href="javascript:void(0)" title="move up">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </a>
                            <a class="move down" href="javascript:void(0)" title="move down">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
</table>
<p><strong> {{ q.get_rank.secondWord }} </strong></p>