#header {
    height: 30px;
    padding-left: 50px;
    margin-top: -5px;
}

.navbar-brand{
    color : white !important;
}

.navbar{
    background-color: #044242;
    border-bottom-color: white;
}

.jumbotron{
    background-color: #c7c7c7;
}

.btn-info{
    background-color: #808080;
    border-color: none;
}

.btn-info:hover{
    background-color: #044242;
    border-color: #fff;
}

.mid{
    color: #ff6a00 !important;
}

.btn-danger{
    background-color: #ff6a00;
    border-color: none;
}

.btn-danger:hover{
    background-color: #ff6a00;
    border-color: #fff;
}

.btn-warning{
    background-color: #d9534f;
    border-color: none;
}

.btn-warning:hover{
    background-color: #d9534f;
    border-color: #fff;
}

.btn-warning:focus{
    background-color: #d9534f;
    border-color: #fff;
}

body{
    padding-bottom: 60px;
}

#wizard{
    background-color: #ff6a00;
    border-color: none;
}

.navbar-nav > li.active > a{
    background-color: #ff6a00 !important;
}

.panel-title > a:hover, .panel-title > a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.panel-heading {
    cursor: pointer;
    cursor: hand;
}

.noBorder {
    border: 0;
}

tr .selectable {
    cursor: default;
}
.selectable .highlight {
    background: grey;
}

.center-element {
    margin:0;
            /*position: relative;
            #top: 50%;
            #transform: translateY(-150%);
*/}
.info {
    padding:10px;
    text-align:center;
    font-weight:bold;
}

.roundelement {
    height:50px;
    display:flex;
    align-items:center;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}
.alert-error {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}